.article {
  padding-top: 104px;
  h3 {
    color: $blue-heading;
    margin: 0;
  }
  h3 {
    color: $dark-blue;
    margin: 0 0 30px 0;
    font-size: rem(38);
  }
  .topicwise-article-section {
    .topicwise-article-list {
      .topicwise-article-list-item {
        .topicwise-article-image {

        }
        .topicwise-article-body {
          a.article-headline {
            color: #2B092C;
            font-size: rem(32);
            font-weight: bold;
            text-decoration: none;
          }
          .topicwise-article-tags {
            color: #258CCB;
            .article-topic-title {
              font-size: rem(16);
              font-weight: bold;
              margin-right: 5px;
              text-decoration: none;
            }
            .article-topic-title-seprater {
              background: #258CCB;
              width: 5px;
              height: 5px;
              display: inline-block;;
              border-radius: 5px;
              vertical-align: middle;
              margin-right: 5px;
            }
            .article-topic-tag {
              margin-right: 5px;
              text-decoration: none;
            }
          }
          .article-write-info {
            font-style: italic;
            margin-bottom: 20px;
          }
        } 
      }
    }
  }
  .topicwise-article-section {
    .topicwise-article-list {
      .article-mobile-view {
        -webkit-box-shadow: 0px 0px 20px 0px rgba(166,166,166,0.5);
        -moz-box-shadow: 0px 0px 20px 0px rgba(166,166,166,0.5);
        box-shadow: 0px 0px 20px 0px rgba(166,166,166,0.5);
        .topicwise-article-image {
          width: 100%;
        }
        .topicwise-article-body {
          padding: 15px;
          h4.article-headline {
            font-size: rem(20);
          }
          .topicwise-article-tags {
            padding-top: 10px;
            margin-bottom: 10px;
            .article-topic-title { }
            .article-topic-title-seprater { }
            .article-topic-tag { }
          }
          .article-write-info {
            font-style: italic;
            margin: 10px 0;
          }
        } 
      }
    } 
  } 

}

@include mobile-only {
  .article {
    padding-top: 70px;
  }
}