.article-listing {

}

.article-list-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: transparentize($white, .7);
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
  margin: 30px 0;

  .tag-item {
    color: $blue-80;
  }

  &:first-of-type {
    margin-top: 10px;
  }

  &:last-of-type {
    margin-bottom: 10px;
  }

  a {
    color: inherit;
  }

  @include medium-and-up {
    flex-direction: row;
  }

  @include large-and-up {
    background-color: transparent;
    box-shadow: none;
    margin: 40px 0;

    .tag-item {
      font-size: rem(18);
    }
  }
}

.article-list-item-image {
  order: 2;

  img {
    width: 100%;
  }

  @include medium-and-up {
    flex-basis: 35%;
    order: 0;
  }

  @include large-and-up {
    flex-basis: 36%;
  }
}

.article-list-item-body {
  padding: 15px;

  @include medium-and-up {
    flex-basis: 63%;
  }

  @include large-and-up {
    flex-basis: 61%;
    padding: 0;
  }
}

.article-list-item-headline {
  font-size: rem(20);
  line-height: 1.3;
  color: $black;
  margin: 5px 0;

  @include large-and-up {
    font-size: rem(30);
  }
}

.article-list-item-meta {
  font-family: $roboto;
  font-style: italic;
  font-weight: 300;
  color: $grey-60;
  margin: 0;

  @include large-and-up {
    font-size: rem(18);
  }
}

.article-list-item-author {
  &:after {
    content: "\002F";
    display: inline-block;
    padding-left: 7px;
  }
}

.article-list-item-content {
  display: none;

  @include large-and-up {
    display: block;
    font-size: rem(18);
    font-weight: 300;
    line-height: 1.6;
    margin: 10px 0 0;
  }

  @include x-large-and-up {
    font-size: rem(20);
  }
}
