/*Article Start*/
/*  <div class="article">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-lg-9">
          <h3>In the article</h3>
        </div>
        <div class="col-md-4 col-lg-3 ml-auto hidden-sm-down">
          <a class="btn btn-medium btn-blue btn-block" href="#">READ ALL THE article</a>
        </div> 
        <div class="topicwise-article-section clearfix col-md-12">
          <ul class="topicwise-article-list list-unstyled hidden-sm-down">
            <li class="media topicwise-article-list-item">
              <img class="d-flex mr-3 topicwise-article-image" src="images/article-first.png" alt="topic wise article image placeholder">
              <div class="media-body topicwise-article-body">
              <div class="topicwise-article-tags">
                <a href="#" class="article-topic-title">NEWS</a>
                <span class="article-topic-title-seprater"></span>
                <a href="#" class="article-topic-tag">#Forests</a>
                <a href="#" class="article-topic-tag">#Water</a>
              </div>  
              <a href="#" class="mt-0 mb-1 article-headline">Dam decision huge victory</a>
              <div class="article-write-info">
                <span class="article-date">July 6, 2017</span>
              </div>
              <p class="article-content">Tart liquorice sweet roll pastry croissant toffee mufﬁn tiramisu. 
              Marshmallow tootsie roll sugar plum powder oatcake gingerbread. 
              Cupcake cookie cotton candy chocolate 
              </p>
              </div>
            </li>
            <li class="media topicwise-article-list-item my-5">
              <img class="d-flex mr-3 topicwise-article-image" src="images/article-second.png" alt="topic wise article image placeholder">
              <div class="media-body topicwise-article-body">
              <div class="topicwise-article-tags">
                <a href="#" class="article-topic-title">STORY</a>
                <span class="article-topic-title-seprater"></span>
                <a href="#" class="article-topic-tag">#Forests</a>
                <a href="#" class="article-topic-tag">#Water</a>
                <a href="#" class="article-topic-tag">#article</a>
              </div>  
              <a href="#" class="mt-0 mb-1 article-headline">100,000 say no to Arctic Oil</a>
              <div class="article-write-info">
                <span class="article-date">July 6, 2017</span>
              </div>
              <p class="article-content">Tart liquorice sweet roll pastry croissant toffee mufﬁn tiramisu. 
              Marshmallow tootsie roll sugar plum powder oatcake gingerbread. 
              Cupcake cookie cotton candy chocolate 
              </p>
              </div>
            </li>

            <li class="media topicwise-article-list-item">
              <img class="d-flex mr-3 topicwise-article-image" src="images/article-third.png" alt="topic wise article image placeholder">
              <div class="media-body topicwise-article-body">
              <div class="topicwise-article-tags">
                <a href="#" class="article-topic-title">PUBLICATIONS</a>
                <span class="article-topic-title-seprater"></span>
                <a href="#" class="article-topic-tag">#Forests</a>
                <a href="#" class="article-topic-tag">#Water</a>
              </div>  
              <a href="#" class="mt-0 mb-1 article-headline">Solar powered community</a>
              <div class="article-write-info">
                <span class="article-date">July 6, 2017</span>
              </div>
              <p class="article-content">Tart liquorice sweet roll pastry croissant toffee mufﬁn tiramisu. 
              Marshmallow tootsie roll sugar plum powder oatcake gingerbread. 
              Cupcake cookie cotton candy chocolate 
              </p>
              </div>
            </li>
          </ul>
          <ul class="topicwise-article-list list-unstyled hidden-sm-up">
            <li class="topicwise-article-list-item article-mobile-view">
            <div class="topicwise-article-body">
              <div class="topicwise-article-tags">
                <a href="#" class="article-topic-title">NEWS</a>
                <span class="article-topic-title-seprater"></span>
                <a href="#" class="article-topic-tag">#Forests</a>
                <a href="#" class="article-topic-tag">#Water</a>
              </div>  
              <h4 class="mt-0 mb-1 article-headline">Dam decision huge victory</h4>
              <div class="article-write-info">
                <span class="article-date">July 6, 2017</span>
              </div>
              </div>
                <img class="topicwise-article-image" src="images/article-first.png" alt="topic wise article image placeholder">
            </li>
            <li class="topicwise-article-list-item article-mobile-view my-5">
            <div class="topicwise-article-body">
              <div class="topicwise-article-tags">
                <span class="article-topic-title">STORY</span>
                <span class="article-topic-title-seprater"></span>
                <span class="article-topic-tag">#Forests</span>
                <span class="article-topic-tag">#Water</span>
              </div>  
              <h4 class="mt-0 mb-1 article-headline">100,000 say no to Arctic Oil</h4>
              <div class="article-write-info">
                <span class="article-author-name">by Author</span>
                <span class="seprater-symbol">/</span>
                <span class="article-date">July 6, 2017</span>
              </div>
              </div>
                <img class="topicwise-article-image" src="images/article-second.png" alt="topic wise article image placeholder">
            </li>
            <li class="topicwise-article-list-item article-mobile-view">
            <div class="topicwise-article-body">
              <div class="topicwise-article-tags">
                <span class="article-topic-title">PUBLICATIONS</span>
                <span class="article-topic-title-seprater"></span>
                <span class="article-topic-tag">#Forests</span>
                <span class="article-topic-tag">#Water</span>
              </div>  
              <h4 class="mt-0 mb-1 article-headline">Solar powered community</h4>
              <div class="article-write-info">
                <span class="article-date">July 6, 2017</span>
              </div>
              </div>
                <img class="topicwise-article-image" src="images/article-third.png" alt="topic wise article image placeholder">
            </li>
          </ul>
        </div>
      </div> 
    </div>
  </div>*/
  /*Article End*/

.article {
  padding-top: 104px;
  h3 {
    color: #004950;
    margin: 0;
  }
  h3 {
    color: #152431;
    margin: 0 0 30px 0;
    font-size: 2.375rem;
  }
  .topicwise-article-section {
    .topicwise-article-list {
      .topicwise-article-list-item {
        .topicwise-article-image {

        }
        .topicwise-article-body {
          a.article-headline {
            color: #2B092C;
            font-size: 2rem;
            font-weight: bold;
            text-decoration: none;
          }
          .topicwise-article-tags {
            color: #258CCB;
            .article-topic-title {
              font-size: 1rem;
              font-weight: bold;
              margin-right: 5px;
              text-decoration: none;
            }
            .article-topic-title-seprater {
              background: #258CCB;
              width: 5px;
              height: 5px;
              display: inline-block;;
              border-radius: 5px;
              vertical-align: middle;
              margin-right: 5px;
            }
            .article-topic-tag {
              margin-right: 5px;
              text-decoration: none;
            }
          }
          .article-write-info {
            font-style: italic;
            margin-bottom: 20px;
          }
        } 
      }
    }
  }
  .topicwise-article-section {
    .topicwise-article-list {
      .article-mobile-view {
        -webkit-box-shadow: 0px 0px 20px 0px rgba(166,166,166,0.5);
        -moz-box-shadow: 0px 0px 20px 0px rgba(166,166,166,0.5);
        box-shadow: 0px 0px 20px 0px rgba(166,166,166,0.5);
        .topicwise-article-image {
          width: 100%;
        }
        .topicwise-article-body {
          padding: 15px;
          h4.article-headline {
            font-size: 1.25rem;
          }
          .topicwise-article-tags {
            padding-top: 10px;
            margin-bottom: 10px;
            .article-topic-title { }
            .article-topic-title-seprater { }
            .article-topic-tag { }
          }
          .article-write-info {
            font-style: italic;
            margin: 10px 0;
          }
        } 
      }
    } 
  } 

}

@include mobile-only {
  .article {
    padding-top: 70px;
  }
} 