.article {
  padding-top: 60px;
  h3 {
    color: $article-heading-color;
    margin: 0;
    font-size: rem(26);
    font-weight: bold;
    color: $black;
  }
  .topicwise-article-section {
    .topicwise-article-list {
      margin: 0;
      .topicwise-article-list-item {
        .topicwise-article-image {
        display: block; 
        width: 33.33%;
          img{
             width: 100%; 
             padding-right: 0;
          }
        }
        .topicwise-article-body {
          a.article-headline {
            color: $black;
            font-size: rem(20);
            font-weight: medium;
            text-decoration: none;
            line-height: normal;
            &:hover {
              text-decoration: underline;
            }
          }
          .topicwise-article-tags {
            color: $tag-color;
            .article-topic-title {
              font-size: rem(14);
              font-weight: bold;
              margin-right: 5px;
              text-decoration: none;
              text-transform: uppercase;
              color: $article-tag;
              &:hover {
                text-decoration: underline;
              }
            }
            .article-topic-title-seprater {
              background: $tag-color;
              width: 5px;
              height: 5px;
              display: inline-block;
              border-radius: 5px;
              vertical-align: middle;
              margin-right: 5px;
            }
            .article-topic-tag {
              font-size: rem(14);
              margin-right: 5px;
              text-decoration: none;
              color: $article-tag;
              &:hover {
                text-decoration: underline;
              }
            }
          }
          .article-write-info {
            font-style: italic;
            margin-bottom: 20px;
            color: $shadow-color;
          }
          .article-content {
            color: $dark-shade-black;
          }
        } 
      }
      .article-mobile-view {
        box-shadow: 0px 0px 20px 0px rgba(166,166,166,0.5);
        margin-top: 23px;
        .topicwise-article-image {
          width: 100%;
        }
        .topicwise-article-body {
          padding: 22px 14px;
          h4.article-headline {
            font-size: rem(20);
          }
          .topicwise-article-tags {
            margin-bottom: 9px;
            .article-topic-title { }
            .article-topic-title-seprater { }
            .article-topic-tag { }
          }
          .article-write-info {
            font-style: italic;
            margin: 10px 0 0 0;
          }
        } 
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
// @media (min-width: 768px) {
@include medium-and-up {
  .article {
    padding-top: 73px;
    h3 {
      margin: 0;
      font-size: rem(34);
    }
    .topicwise-article-section {
      .topicwise-article-list {
        margin: 0;
        .topicwise-article-list-item {
          box-shadow: 0px 0px 20px 0px rgba(166,166,166,0.5);
          margin-top: 20px;
          .topicwise-article-image {
            width: 33.33%;
            img{
               width: 100%; 
               padding-right: 15px;
            }
          }
          .topicwise-article-body {
            padding-top: 23px;
            a.article-headline {
              font-size: rem(24);
            }
            .topicwise-article-tags {
              .article-topic-title {
                font-size: rem(16);
                margin-right: 5px;
              }
              .article-topic-title-seprater {
                background: $tag-color;
                width: 5px;
                height: 5px;
              }
              .article-topic-tag {
                font-size: rem(16);
                margin-right: 5px;
              }
            }
            .article-write-info {
              font-size: rem(16);
              margin-bottom: 20px;
            }
            .article-content {
              display: none;
            }
          } 
        }
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@include large-and-up {
  .article {
    padding-top: 79px;
    h3 {
      color: $article-heading-color;
      margin: 0;
      font-size: rem(36);
      line-height: 2.7rem;
    }
    .topicwise-article-section {
      .topicwise-article-list {
        margin: 0;
        .topicwise-article-list-item {
          box-shadow: none;
          margin-top: 33px;
          .topicwise-article-image {
            width: 33.33%;
            img{
               width: 100%; 
               padding-right: 15px;
            }
          }
          .topicwise-article-body {
            padding-top: 0;
            a.article-headline {
              font-size: rem(30);
            }
            .topicwise-article-tags {
              .article-topic-title {
                font-size: rem(18);
                margin-right: 5px;
              }
              .article-topic-title-seprater {
                width: 5px;
                height: 5px;
              }
              .article-topic-tag {
                font-size: rem(18);
                margin-right: 5px;
              }
            }
            .article-write-info {
              margin-top: 5px;
              margin-bottom: 10px;
            }
            .article-content {
              font-size: rem(20);
              line-height: 32px;
              display: block;
              margin-bottom: 0;
            }
          } 
        }
      }
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@include large-large-and-up {
  .article {
    padding-top: 103px;
    h3 {
      color: $article-heading-color;
      margin: 0;
      font-size: rem(38);
      line-height: 2.7rem;
    }
    .topicwise-article-section {
      .topicwise-article-list {
        margin: 0;
        .topicwise-article-list-item {
          box-shadow: none;
          margin-top: 40px;
          .topicwise-article-image {
            width: 33.33%;
            img{
               width: 100%; 
               padding-right: 15px;
            }
          }
          .topicwise-article-body {
            padding-top: 0;
            a.article-headline {
              font-size: rem(32);
            }
            .topicwise-article-tags {
              .article-topic-title {
                font-size: rem(20);
                margin-right: 5px;
              }
              .article-topic-title-seprater {
                margin-top: -5px;
              }
              .article-topic-tag {
                font-size: rem(20);
                margin-right: 5px;
              }
            }
            .article-write-info {
              margin-top: 10px;
              margin-bottom: 25px;
            }
            .article-content {
              font-size: rem(22);
              line-height: 38px;
              display: block;
              margin-bottom: 0;
            }
          } 
        }
      }
    }
  }
}
