/*
<!-- Author Block Start -->
<div class="container clearfix">
  <div class="author-block">
    <div class="skewbox author-info">
      <div class="author-info-inner">
        <h2 class="author-info-heading">ABOUT THE AUTHOR</h2>
        <h5 class="author-name">Sarah King</h5>
        <p class="author-info-brief">
          Senior Oceans Strategist at Greenpeace Canada, Sarah is lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        </p>
      </div>
    </div>
    <div class="skewbox author-img">
      <img class="author-pic" src="images/author-image.jpg">
    </div>
  </div>
</div>
<!-- Author Block End -->
*/

$author-grey: #E2E5E8;

.author-block {
  margin-top: 104px;
  width: 80%;
  float: left;
  display: block;
  overflow: hidden;
  .skewbox {
    width: 50%;
    height: 300px;
    float: left;
    &.author-info {
      background: $author-grey;
      z-index:1;
      padding: 40px 0 0 32px;
      @include skew($bg: $author-grey, $deg: 25deg, $right: -70px, $width: 155px);
      .author-info-inner {
        h2 {
          font-size: rem(20);
          font-weight: bold;
          margin-bottom: 16px;
        }
        h5 {
          font-size: rem(16.5);
          font-weight: 500;
          color: #E51538;
          margin-bottom: 40px;
        }
        p {
          font-size: rem(17);
        }
      }

    }
    &.author-img {
      img {
        height: 300px;
        width: auto;
        object-fit: cover;
      }
    }
  }
}

// Small devices (landscape phones, 576px and up)
@include mobile-only {
  .author-block {
    margin-top: 56px;
    width: 100%;
    float: left;
    display: block;
    .skewbox {
      width: 100%;
      height: 300px;
      float: left;
      &.author-info {
        background: $author-grey;
        z-index:1;
        padding: 20px;
        @include skew($bg: $author-grey, $deg: 0deg, $right: 0px, $width: 0px);
        .author-info-inner {
          h2 {
            font-size: rem(16);
            margin-bottom: 8px;
          }
          h5 {
            font-size: rem(16.5);
            margin-bottom: 40px;
          }
          p {
            font-size: rem(16);
          }
        }

      }
      &.author-img {
        img {
          height: 266px;
          width: 100%;
        }
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@include medium-and-up {
  .author-block {
    margin-top: 56px;
    width: 100%;
    float: left;
    display: block;
    .skewbox {
      width: 50%;
      height: 300px;
      float: left;
      &.author-info {
        background: $author-grey;
        z-index:1;
        padding: 40px 0 0 32px;
        @include skew($bg: $author-grey, $deg: 25deg, $right: -70px, $width: 155px);
        .author-info-inner {
          h2 {
            font-size: rem(16);
            margin-bottom: 8px;
          }
          h5 {
            font-size: rem(16.5);
            margin-bottom: 40px;
          }
          p {
            font-size: rem(16);
          }
        }

      }
      &.author-img {
        img {
          height: 300px;
          width: auto;
        }
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@include medium-large-and-up {
  .author-block {
    margin-top: 56px;
    width: 80%;
    float: left;
    display: block;
    .skewbox {
      width: 50%;
      height: 300px;
      float: left;
      &.author-info {
        background: $author-grey;
        z-index:1;
        padding: 40px 0 0 32px;
        @include skew($bg: $author-grey, $deg: 25deg, $right: -70px, $width: 155px);
        .author-info-inner {
          h2 {
            font-size: rem(16);
            margin-bottom: 8px;
          }
          h5 {
            font-size: rem(16.5);
            margin-bottom: 40px;
          }
          p {
            font-size: rem(16);
          }
        }

      }
      &.author-img {
        img {
          height: 300px;
          width: auto;
        }
      }
    }
  }
} 
