/*Block Media Start */

/*
<div class="container">
  <div class="block-media">
    
  </div>
</div>  */

/*Block Media End*/

.block-media {
  @include background('images/achievemets-infographics.png', center, no-repeat, contain);
  height: 465px;
  margin: 104px 0 72px 0;
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 575px) {
  .block-media {
    height: 201px;
    margin: 48px 0 40px 0;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .block-media {
    height: 410px;
    margin: 104px 0 72px 0;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .block-media {
    height: 390px;
    margin: 104px 0 72px 0;
  }
} 