.block-media {
  @include background('images/achievemets-infographics.png');
  height: 465px;
  margin: 104px 0 72px 0;
}

// Small devices (landscape phones, 576px and up)
@include mobile-only {
  .block-media {
    height: 201px;
    margin: 48px 0 40px 0;
  }
}

// Medium devices (tablets, 768px and up)
@include medium-and-up {
  .block-media {
    height: 410px;
    margin: 104px 0 72px 0;
  }
}

// Large devices (desktops, 992px and up)
@include medium-large-and-up {
  .block-media {
    height: 390px;
    margin: 104px 0 72px 0;
  }
}
