/*
 * Campaign Thumbnail Block 
 */

.campaign-thumbnail-block {
	background-color: $light-grey;
	margin-top: 40px;
	margin-bottom: 6rem;
	padding-top: 6rem;
	
	h2 {
		font-size: rem(26);
		margin-bottom: 1.2rem;
		padding-left: 15px;
	}

	.container {
		padding-left: 0;
		padding-right: 0;
	}

	.thumbnail-largeview-container {
		
		.thumbnail-large {
			margin-bottom: 5px;
			max-height: 70px;
			position: relative;
			overflow: hidden;
			@include background-before-opacity(rgba(22,22,22,0.65));
		
			&:hover {

				&:before {
					opacity:0.1;
				}
			}

			img {
				width: 100%;
				min-height: 260px;
				object-fit: cover;
			}

			span.yellow-cta {
				text-align: center;
				font-size: rem(20);
				color: $yellow;
				font-weight: 400;
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				z-index: 2;
				margin-bottom: 18px;
				text-shadow: 1px 1px $black;
				&:hover {
				  text-decoration: none;
				}
		  	}
		}
	}
}

@include medium-and-up {

	.campaign-thumbnail-block {

		.container {
			padding-left: 15px;
			padding-right: 15px;
		}

		h2 {
			font-size: rem(38);
			margin-bottom: 2.2rem;
			padding-left: 0;
		}

		.thumbnail-largeview-container {

			.thumbnail-large {
				margin-bottom: 30px;
				max-height: 100%;
			}

			span.yellow-cta {
				margin-bottom: 40px;
			}
		}
	}

}