/*
<!-- Campaign Thumbnail Block Start -->
<div class="container">
  <div class="campaign-thumbnail-block">
    <h2>Our Campaigns</h2>
    <div class="row thumbnail-largeview-container">
      <div class="col-md-4">
        <div class="thumbnail-large">
          <img src="images/GP028BP.jpg">
          <a href="#">#DetoxOutdoor</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail-large">
          <img src="images/article-first.png">
          <a href="#">#SaveMahan</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail-large">
          <img src="images/article-third.png">
          <a href="#">#KeepItInTheGround</a>
        </div>
      </div>
    </div>
  </div>
</div>  
  <!-- Campaign Thumbnail Block End -->
*/


.campaign-thumbnail-block {
  margin-top: 72px;
  h2 {
    font-size: rem(32);
    margin-bottom: 48px;
  }
  .thumbnail-largeview-container {
    .thumbnail-large {
      margin-bottom: 30px;
      position: relative;
      @include background-before-opacity(rgba(22,22,22,0.65));
      &:hover {
       &:before {
        opacity:0.1;
       }
      }
      img {
        width: 100%;
        min-height: 260px;
        object-fit: cover;
      }
      a {
        text-align: center;
        font-size: rem(20);
        color: $yellow-button;
        font-weight: bold;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        z-index: 2;
        margin-bottom: 40px;
        text-shadow: 1px 1px $black;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}