.split-carousel-wrap.carousel-header {
  padding-top: 0;
  overflow: hidden;
  .carousel-item {
    .carousel-caption {
      top: 0;      
      text-align: left;
      left: auto;
      bottom: 0;
      right: 0;
      width: 100%;
      padding-top: 0;
      background : linear-gradient(210deg, rgba(136, 196, 213, 0.2) 0%, rgba(184, 216, 232, 1) 100%);
      .main-header {
        color: $article-heading-color;
        padding-top: 69px;
        padding-bottom: 70px;
        h1 {
        font-size: rem(40);
        margin-bottom: 48px;
        width: 50%;
        line-height: normal;
        font-weight: bold;
        }
        h3 {
        font-size: rem(22);
        margin-bottom: 99px;
        line-height: 30px;
        width: 55%;
        }
        p {
        font-size: rem(22);
        margin-bottom: 72px;
        width: 60%;
        line-height: normal;
        }
      }
    }
  }
  .carousel-item.active img, 
  .carousel-item-next img,
  .carousel-item-prev img {
    max-height: 450px;
    object-fit: cover;
    width: 100%;
  }

  .carousel-control-prev,
  .carousel-control-next {
    opacity: 1;
    height: 100%;
    top: 0;
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      display: block;
      text-align: center;
      transform:skew(208deg);
      margin-right: 45%;
      width: 70px;
      height: 65px;
      cursor: pointer;
    }
    .carousel-control-next-icon {
      background: url("images/carousel-marker-next-l.png");
    }
  }

  .carousel-control-next {
    background: $black;
    width: 45%;
    margin-right: -20%;
    transform:skew(-208deg);
  }
  .carousel-control-prev {
    display: none;
  }
  .carousel-indicators {
    right: 35%;
    bottom: 80px;
    left: auto;
    margin-right: 0;
    li {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: $white;
      margin: 0 15px;
      cursor: pointer;
      &.active {
        background: #9BD25C;
      }
    }
  }
}

@media (min-width: 310px) {
  .split-carousel-wrap.carousel-header {
    padding-top: 0px;
    .carousel-item {
      .carousel-caption {
        height: 100%;
        padding: 0;
        .main-header {
          padding-top: 69px;
          padding-bottom: 54px;
          h1 {
            font-size: rem(40);
            margin-bottom: 20px;
            line-height: 53px;
            width: 80%;
          }
          h3 {
            font-size: rem(22);
            margin-bottom: 146px;
            line-height: 35px;
            width: 100%;
          }
          p {
            font-size: rem(19);
            margin-bottom: 36px;
            line-height: 33px;
            width: 70%;
            display: none;
          }
        }
      }
    }
    .carousel-item.active img, 
    .carousel-item-next img,
    .carousel-item-prev img {
      max-height: 468px;
    }
    .carousel-control-next {
      top :0;
      width: 50%;
      margin-right: -25%;
      .carousel-control-next-icon {
        margin-right: 63px;
      }
    }       
    .carousel-indicators {
      margin-right: 34%;
      right: 0 !important;
      bottom: 46px;
    } 
  }
}

// Very specific media query for button placement half 
// above and below image
@media screen and (min-width: 310px) and (max-width: 768px) {
  .split-carousel-wrap {
    .carousel-inner {
      overflow: visible !important;
    }
    .carousel-header {
      overflow: visible !important; 
    }
    .page-header {
      height: 100%;
      .row {
        display: block;
        bottom: 10px;
        position: absolute;
        width: 100%;
      }
    }
  }
}

// Medium devices (tablets, 576px and up)
@media (min-width: 576px) {
  .split-carousel-wrap.carousel-header {
    padding-top: 0;
    .carousel-item {
      .carousel-caption {
        height: 100%;
        padding: 0;
        .main-header {
          padding-top: 69px;
          padding-bottom: 54px;
          h1 {
            font-size: rem(40);
            margin-bottom: 20px;
            line-height: 53px;
            width: 80%;
          }
          h3 {
            font-size: rem(22);
            font-weight: 300;  
            margin-bottom: 154px;
            line-height: 35px;
            width: 50%;
          }
          p {
            font-size: rem(19);
            margin-bottom: 36px;
            line-height: 33px;
            width: 60%;
            display: none;
          }
        }
      }
    }
    .carousel-item.active img, 
    .carousel-item-next img,
    .carousel-item-prev img {
      max-height: 454px;
    }
    .carousel-control-next {
      top :0;
      width: 50%;
      margin-right: -25%;
      .carousel-control-next-icon {
        margin-right: 63px;
      }
    }       
    .carousel-indicators {
     margin-right: 42%;
     margin-bottom: 54px;
     bottom: 0;
     right: 0;
    } 
  }  
}

// Medium devices (tablets, 768px and up)
@include medium-and-up {
  .split-carousel-wrap.carousel-header {
    padding-top: 0;
    .carousel-item {
      img {
      }
      .carousel-caption {
        height: 100%;
        padding: 0;
        .main-header {
          padding-top: 79px;
          padding-bottom: 54px;
          h1 {
            font-size: rem(48);
            margin-bottom: 20px;
            line-height: 53px;
            width: 80%;
            font-weight: bold;
          }
          h3 {
            font-size: rem(24);
            margin-bottom: 34px;
            line-height: 35px;
            width: 50%;
            font-weight: 300;
          }
          p {
            font-size: rem(19);
            margin-bottom: 36px;
            line-height: 33px;
            width: 62%;
            display: block;
          }
        }
      }
    }
    .carousel-item.active img, 
    .carousel-item-next img,
    .carousel-item-prev img {
      max-height: 588px;
    }
    .carousel-control-next {
      top :0;
      .carousel-control-next-icon {
        margin-right: 113px;
        background: url("images/carousel-marker-next-l.png");
        width: 70px;
        height: 65px;
      }
    }      
    .carousel-indicators {
     margin-right: 40px;
     margin-bottom: 54px;
     bottom: 0;
     right: 0;
    } 
  }  
}

// Large devices (desktops, 992px and up)
@include medium-large-and-up {
  .split-carousel-wrap.carousel-header {
    padding-top: 0;
    .carousel-item {
      img {
      }
      .carousel-caption {
        height: 100%;
        padding: 0;
        .main-header {
          padding-top: 85px;
          padding-bottom: 32px;
          h1 {
            font-size: rem(56);
            margin-bottom: 23px;
            line-height: 53px;
            width: 60%;
          }
          h3 {
            font-size: rem(30);
            margin-bottom: 40px;
            line-height: 40px;
            font-weight: 400;
            width: 60%;
          }
          p {
            font-size: rem(20);
            margin-bottom: 48px;
            line-height: 34px;
            width: 62%;
            display: block;
          }
        }
      }
    }
    .carousel-item.active img, 
    .carousel-item-next img,
    .carousel-item-prev img {
      max-height: 588px;
    }
    .carousel-control-next {
      top :0;
      .carousel-control-next-icon {
        margin-right: 133px;
        background: url("images/carousel-marker-next-l.png");
        width: 70px;
        height: 65px;
      }
    }      
    .carousel-indicators {
     margin-right: 30px;
     margin-bottom: 32px;
     bottom: 0;
     right: 0;
    } 
  }  
}

// Extra large devices (large desktops, 1200px and up)
@include large-large-and-up {
  .split-carousel-wrap.carousel-header {
    padding-top: 64px;
    .carousel-item {
      img {
      }
      .carousel-caption {
        height: 100%;
        padding: 0;
        .main-header {
          padding-top: 116px;
          padding-bottom: 50px;
          h1 {
            font-size: rem(66);
            margin-bottom: 33px;
            line-height: 63px;
            width: 60%;
          }
          h3 {
            font-size: rem(44);
            font-weight: 400;
            margin-bottom: 41px;
            line-height: 52px;
            width: 60%;
          }
          p {
            font-size: rem(22);
            margin-bottom: 60px;
            line-height: 38px;
            width: 62%;
            display: block;
          }
        }
      }
    }
    .carousel-item.active img, 
    .carousel-item-next img,
    .carousel-item-prev img {
      max-height: 712px;
    }
    .carousel-control-next {
      top :0;
      .carousel-control-next-icon {
        margin-right: 45%;
        background: url("images/carousel-marker-next.png");
        width: 90px;
        height: 90px;
      }
    }      
    .carousel-indicators {
      margin-right: 8.33%;
      margin-bottom: 50px;
      bottom: 0;
      right: 0;
    } 
  }  
}
