.split-carousel-wrap.carousel-header {
  overflow: hidden;
  .carousel-item {
    .carousel-caption {
      top: 0;      
      text-align: left;
      left: auto;
      bottom: 0;
      right: 0;
      width: 100%;
      padding-top: 0;
      background : linear-gradient(210deg, rgba(136, 196, 213, 0.2) 0%, rgba(184, 216, 232, 1) 100%);
      .main-header {
        color: $article-heading-color;
        padding-top: 124px;
        padding-bottom: 70px;
        h1 {
          font-size: rem(28);
          margin-bottom: 27px;
          width: 55%;
          line-height: 1.2;
          font-weight: bold;
          color: $black;
        }
        h3 {
          font-size: rem(20);
          line-height: 1.3;
          font-weight: 400;
          width: 55%;
          color: $grey;
        }
        p {
          font-size: rem(22);
          margin-bottom: 72px;
          width: 60%;
          line-height: normal;
          color: $dark-shade-black;
          display: none;
        }
      }
    }
  }
  .carousel-item.active img, 
  .carousel-item-next img,
  .carousel-item-prev img {
    max-height: 500px;
    object-fit: cover;
    width: 100%;
  }

  .carousel-control-prev,
  .carousel-control-next {
    opacity: 1;
    height: 100%;
    top: 0;
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      display: block;
      text-align: center;
      transform:skew(209deg);
      margin-right: 25%;
      width: 40px;
      height: 40px;
      cursor: pointer;
    }
    .carousel-control-next-icon {
      background: url("images/carousel-marker-next.png");
    }
  }

  .carousel-control-next {
    background: $black;
    width: 75%;
    margin-right: -35%;
    transform:skew(-209deg);
  }
  .carousel-control-prev {
    display: none;
  }
  .carousel-indicators {
    li {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: $white;
      margin: 0 8px;
      cursor: pointer;
      &.active {
        background: $carousel-indi-color;
      }
    }
  }
}

@media screen and (min-width: $extra-small-width) and (max-width: 767px) {
  .carousel-header {
    .carousel-caption {
      padding-bottom: 0;
      .main-header {
        position: relative;
        padding-bottom: 0;
        height: 100%;
        h3 {
          margin-bottom: 0;
        }
        .action-button {
          bottom: 10px;
          position: absolute;
          margin-left: -15px;
        }
      }
    }
    .carousel-indicators {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 85px;
      margin: 0;
      li {
        border-radius: 8px;
        margin: 12px;
        max-width: 8px;
      }
    }
  }
}

// Medium devices (tablets, 576px and up)
@include small-and-up {
  .split-carousel-wrap.carousel-header {
    .carousel-item {
      .carousel-caption {
        height: 100%;
        padding: 0;
        .main-header {
          padding-top: 124px;
          padding-bottom: 54px;
          h1 {
            font-size: rem(40);
            margin-bottom: 20px;
            line-height: 53px;
            width: 80%;
          }
          h3 {
            font-size: rem(22);
            line-height: 1.2;
            width: 50%;
          }
          p {
            font-size: rem(19);
            margin-bottom: 36px;
            line-height: 33px;
            width: 60%;
            display: none;
          }
        }
      }
    }
    .carousel-item.active img, 
    .carousel-item-next img,
    .carousel-item-prev img {
      max-height: 454px;
    }
    .carousel-control-next {
      top :0;
      width: 50%;
      margin-right: -25%;
      .carousel-control-next-icon {
        margin-right: 63px;
        background: url("images/carousel-marker-next-S-M.png");
        width: 45px;
        height: 45px;
      }
    }       
  }  
}

// Medium devices (tablets, 768px and up)
@include medium-and-up {
  .split-carousel-wrap.carousel-header {
    .carousel-item {
      .carousel-caption {
        .main-header {
          padding-top: 134px;
          h1 {
            font-size: rem(48);
          }
          h3 {
            font-size: rem(24);
            margin-bottom: 34px;
          }
          p {
            margin-bottom: 51px;
            width: 62%;
            display: block;
          }
          .action-button {
            padding-left: 0;
          }
        }
      }
    }
    .carousel-item.active img, 
    .carousel-item-next img,
    .carousel-item-prev img {
      max-height: 620px;
    }
    .carousel-control-next {
      top :0;
      .carousel-control-next-icon {
        margin-right: 113px;
        background: url("images/carousel-marker-next-S-M.png");
        width: 45px;
        height: 45px;
      }
    }      
    .carousel-indicators {
      margin-right: 40px;
      margin-bottom: 40px;
      bottom: 0;
      left: auto;
      li {
        width: 12px;
        height: 12px;
        margin: 0 12px;
        max-width: 12px;
      }
    } 
  }  
}

// Large devices (desktops, 992px and up)
@include medium-large-and-up {
  .split-carousel-wrap.carousel-header {
    .carousel-item {
      .carousel-caption {
        .main-header {
          padding-top: 149px;
          padding-bottom: 32px;
          h1 {
            font-size: rem(56);
            margin-bottom: 23px;
            line-height: 53px;
            width: 60%;
          }
          h3 {
            font-size: rem(44);
            margin-bottom: 40px;
          }
          p {
            font-size: rem(20);
            margin-bottom: 60px;
            line-height: 34px;
          }
        }
      }
    }
    .carousel-item.active img, 
    .carousel-item-next img,
    .carousel-item-prev img {
      max-height: 720px;
    }
    .carousel-control-next {
      .carousel-control-next-icon {
        margin-right: 133px;
        background: url("images/carousel-marker-next.png");
        width: 65px;
        height: 65px;
        &:hover {
          background-position-x: 66px;        
        }
      }
    }      
    .carousel-indicators {
      margin-right: 30px;
      margin-bottom: 32px;
      right: 0;
    } 
  }  
}

// Extra large devices (large desktops, 1200px and up)
@include large-large-and-up {
  .split-carousel-wrap.carousel-header {
    .carousel-item {
      .carousel-caption {
        .main-header {
          padding-top: 180px;
          padding-bottom: 50px;
          h1 {
            font-size: rem(66);
            margin-bottom: 33px;
            line-height: 63px;
          }
          h3 {
            font-size: rem(36);
            margin-bottom: 51px;
          }
          p {
            font-size: rem(22);
            line-height: 38px;
          }
        }
      }
    }
    .carousel-item.active img, 
    .carousel-item-next img,
    .carousel-item-prev img {
      max-height: 712px;
    }
    .carousel-control-next {
      .carousel-control-next-icon {
        margin-right: 45%;
       }
    }      
    .carousel-indicators {
      margin-right: 8.33%;
      margin-bottom: 50px;
    }
  }  
}
