.split-carousel-wrap.carousel-header {
  padding-top: 0;
  .carousel-item {
    .carousel-caption {
      top: 0;      
      background : -moz-linear-gradient(66.31% -110.5% -120deg,rgba(136, 196, 213, 0) 0%,rgba(184, 216, 232, 1) 100%);
      background : -webkit-linear-gradient(-120deg, rgba(136, 196, 213, 0) 0%, rgba(184, 216, 232, 1) 100%);
      background : -webkit-gradient(linear,66.31% -110.5% ,33.69% 210.5% ,color-stop(0,rgba(184, 216, 232, 0) ),color-stop(1,rgba(220, 240, 246, 1) ));
      background : -o-linear-gradient(-120deg, rgba(136, 196, 213, 0) 0%, rgba(184, 216, 232, 1) 100%);
      background : -ms-linear-gradient(-120deg, rgba(136, 196, 213, 0) 0%, rgba(184, 216, 232, 1) 100%);
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#0A3351', endColorstr='#0A3351' ,GradientType=0)";
      background : linear-gradient(210deg, rgba(136, 196, 213, 0.2) 0%, rgba(184, 216, 232, 1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0A3351',endColorstr='#0A3351' , GradientType=1);
      .main-header {
        color: $dark-blue;
        padding-top: 120px;
        padding-bottom: 70px;
        h1 {
        font-size: rem(40);
        margin-bottom: 48px;
        width: 70%;
        line-height: normal;
        }
        h3 {
        font-size: rem(22);
        margin-bottom: 56px;
        width: 70%;
        line-height: normal;
        }
        p {
        font-size: rem(22);
        margin-bottom: 72px;
        width: 70%;
        line-height: normal;
        }
      }
    }
  }
  .carousel-item.active img, 
  .carousel-item-next img,
  .carousel-item-prev img {
    max-height: 700px;
    object-fit: cover;
  }
  .carousel-control-prev {
    display: none;
  }
  .carousel-indicators {
    li.active {background: #9BD25C}
  }
}

// Small devices (landscape phones, 576px and up)
@include mobile-only {
  .split-carousel-wrap.carousel-header {
    .carousel-item {
      height: 100%;
      margin-bottom: 0;
      img {
        height: 450px;
      }
      .carousel-caption {
        height: 100%;
        padding: 20px 15px 20px;
        .main-header {
          padding-top: 120px;
          padding-bottom: 80px;
          h1 {
            font-size: rem(40);
            margin-bottom: 30px;
            font-weight: 500;
          }
          h3 {
            font-size: rem(22);
            margin-bottom: 20px;
            font-weight: 300;  
          }
          p {
            display: none;
          }
        }
      }
    }
    .carousel-control-next {
      top :0;
      background:auto;
    }      
    .carousel-indicators {
     margin-right: 33%;
     bottom: 0;
    } 
  }  
}

// Possible fix for small devices (landscape phones, 576px and up)
// Medium devices (tablets, 768px and up)
// @media screen  and (max-width: 767px) and (min-width: 576px) {
//   .split-carousel-wrap.carousel-header {
//     .carousel-item {
//       .carousel-caption {
//         .main-header {
//           padding-top: 40px;
//           padding-bottom: 80px;
//           h1 {
//             font-size: rem(48);
//             margin-bottom: 40px;
//             font-weight: 500;
//           }
//           h3 {
//             font-size: rem(24);
//             margin-bottom: 50px;
//             font-weight: 300;
//           }
//           p {
//             font-size: rem(27.5);
//             margin-bottom: 32px;
//           }
//         }
//       }
//     }
//   }  
// }


// Medium devices (tablets, 768px and up)
@include medium-and-up {
  .split-carousel-wrap.carousel-header {
    .carousel-item {
      .carousel-caption {
        .main-header {
          padding-top: 40px;
          padding-bottom: 80px;
          h1 {
            font-size: rem(48);
            margin-bottom: 40px;
            font-weight: 500;
          }
          h3 {
            font-size: rem(24);
            margin-bottom: 50px;
            font-weight: 300;
          }
          p {
            font-size: rem(27.5);
            margin-bottom: 32px;
          }
        }
      }
    }
  }  
}

// Large devices (desktops, 992px and up)
@include medium-large-and-up {
  .split-carousel-wrap.carousel-header {
    .carousel-item {
      .carousel-caption {
        .main-header {
          padding-top: 100px;
          padding-bottom: 80px;
          h1 {
            font-size: rem(56);
            font-weight: 500;
            margin-bottom: 50px;
          }
          h3 {
            font-size: rem(30);
            font-weight: 300;
            margin-bottom: 50px;
          }
          p {
            font-size: rem(20);
            margin-bottom: 32px;
          }
        }
      }
    }
  }  
}

// Extra large devices (large desktops, 1200px and up)
@include large-large-and-up {
  .split-carousel-wrap.carousel-header {
    .carousel-item {
      img {
      }
      .carousel-caption {
        height: 100%;
        padding: 20px 15px 20px;
        .main-header {
          padding-top: 120px;
          padding-bottom: 80px;
          h1 {
            font-size: rem(66);
            margin-bottom: 48px;
            font-weight: 500;
          }
          h3 {
            font-size: rem(44);
            margin-bottom: 56px;
            font-weight: 300;
          }
          p {
            font-size: rem(22);
            margin-bottom: 72px;
          }
        }
      }
    }
    .carousel-control-next {
      top :0;
      background:auto;
    }      
    .carousel-indicators {
     margin-right: 10%;
     margin-bottom: 30px;
    } 
  }  
}