/*  <!-- Split Three Column Start-->
  <div class="split-three-column pt-5"> 
    <div class="container">
      <div class="three-column-box">
        <div class="three-column-info">
          <h2>Our Vision</h2>
          <p>
            We live in a world where people are making the conscious decision to eat more delicious, creative plant-rich dishes and better meat.  Governments are convinced that more plants and better meat is the new normal and make sure this new standard is translated into policies. The handful of corporations that are driving forward the current broken meat system have changed their practices and policies to create a sustainable future for our agricultural and livestock systems.
          </p>
        </div> 
        <div class="three-column-images row"> 
          <div class="col"> 
            <div class="first-column split-image"></div> 
          </div> 
          <div class="col"> 
            <div class="second-column split-image"></div> 
          </div> 
          <div class="col"> 
            <div class="third-column split-image"></div> 
          </div> 
        </div> 
      </div> 
    </div>       
  </div> 
  <!-- Split Three Column End--> 
  */
  
.split-three-column { 
  .three-column-box { 
    .three-column-info { 
       h2 { 
         font-size: 2.5rem; 
         margin-bottom: 64px; 
       } 
       p { 
         font-size: 1.375rem; 
         line-height: 2.25rem; 
         margin-bottom: 40px; 
       } 
     } 
     .three-column-images { 
       overflow: hidden; 
       min-height: 400px; 
     } 
     .split-image { 
       border: 1px solid white; 
       position: absolute; 
       top: -30px; 
       left: -75px; 
       right: -30px; 
       bottom: -30px; 
       -webkit-transform: skew(10deg); 
       -moz-transform: skew(10deg); 
       -o-transform: skew(10deg); 
     } 
     .first-column { 
       @include background('images/splitone.jpg',left center); 
       left: -40px; 
     } 
     .second-column { 
       @include background('images/splittwo.jpg',left center); 
       left: 35px; 
     } 
     .third-column { 
       @include background('images/splitthree.jpg',left center); 
       left: 35px; 
       right: -40px; 
     } 
   }
}
