/* 
 * Content Three Column
 */

.split-three-column { 
	margin-top: 48px;
	
	.three-column-box { 
		
		.three-column-info { 

			h2 { 
				font-size: rem(26);
				color: $purple;
				margin-bottom: 22px; 

				@include medium-and-up {
					font-size: rem(34);
					margin-bottom: 50px; 
				}

				@include medium-large-and-up {
					font-size: rem(38);
				}

				@include large-large-and-up {
					font-size: rem(40);
				}
			} 

			p { 
				font-size: rem(17);
				line-height: 1.25rem; 
				color: $purple;
				margin-bottom: 40px; 

				@include medium-and-up {
					font-size: rem(20);
					line-height: 2.25rem; 
					margin-bottom: 40px; 
					&:last-child {
						margin-bottom: 72px;
					}
				}

				@include large-and-up {
					margin-bottom: 2rem;
					&:last-child {
						margin-bottom: 5rem;
					}
				}

			} 

			@include medium-and-up {
				padding-top: 40px;
			}
		}

		.three-column-images { 
			min-height: 184px; 
			position: relative;
			overflow: hidden;

			@include medium-and-up {
				min-height: 330px; 
				margin-left: 0;
			    margin-right: 0;
			}

			@include large-large-and-up {
				min-height: 430px; 
			}
		} 

		.split-image { 
			position: absolute;
			img {
				object-fit: cover;
				height: 184px;

				@include medium-and-up {
					height: 330px;
				}
				@include large-large-and-up {
					height: 430px;
				}
			}
		}

		.first-column {
			margin-left: -50px;
			margin-right: -130px;  
		} 

		.second-column { 
			transform: skew(25deg); 
			border-left: 10px solid $brown-bg; 
			border-right: 10px solid $brown-bg;
			z-index: 2;
			width: 120%;
			left: 0;
			top: 0;
			overflow: hidden;
			
			img {
				transform: skew(-25deg); 
				margin-left: -40px;

				@include medium-and-up {
					margin-left: -90px;
				}

				@include medium-large-and-up {
					margin-left: -90px;
				}

				@include large-large-and-up {
					margin-left: -100px;
				}
			} 

			@include medium-and-up {
				width: 110%;
			}

			@include medium-large-and-up {
				width: 100%;  
			}

			@include large-large-and-up {
				width: 100%;
			}
		} 

		.third-column { 
			z-index: 1;
			right: -100px;  

			@include small-and-up {
				right: -85px; 
			}

			@include medium-and-up {
				right: -190px;
			}

			@include medium-large-and-up{
				right: -110px;
			}

			@include large-large-and-up {
				right: -150px; 

			} 

			img {
				@include medium-large-and-up{
					margin-right: 66px;
				}
			}
		} 
	}

	@include large-large-and-up {
		margin-top: 340px;
	}
}
