.four-column-content {
	color: $black;
	padding: 80px 0 0 0;
	
	h2 {
		font-size: rem(26);
		margin: 0;
		color: $black;
	}
	
	a {
		color: $grey;
	}

	.col-md-4 {
		width: 157px;
		outline: none;
	}

	.four-column-content-wrap {

		.four-column-content-symbol {
			position: relative;
			margin: 32px 0 24px 0;
			box-shadow: 0 5px 20px 0 rgba(114,114,114,0.5);

			@include small-and-up {
				margin: 20px 0;
			}

			img {
				width: 100%;
				height: auto;
				object-fit: cover;
			}

			&.dark-img {
				a {
					color: $white;
				}
			}
		}

		.four-column-content-info {

			h4 {
				font-size : rem(16);
				font-weight: 600;
				padding: 0;
				margin: 0;

				@include medium-and-up {
					font-size : rem(22);
				}
			}

			p {
				font-size: rem(16);
				line-height: 1.875rem;
				font-family: $roboto;

				&.publication-date {
					font-size: rem(14.5);
					font-style: italic;
					margin-bottom: 16px;
					color: $publish-date-grey;
				}
			}

			a {
				color: $blue-text;
				font-size: rem(14);
				opacity: 0.75;
				text-decoration: underline; 
			}

			.blue-button { 
				width: 100%; 
			}
			
		}
	}
}
