.content-two-column-block {
  padding-top: 46px;
  h2 {
    font-size: rem(26);
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 20px;
    width: 60%;
    color: $black;
  }
  p {
    font-size: rem(17);
    line-height: 28.9px;
    margin-bottom: 37px;
    color: $dark-shade-black;
  }
  .btn {
    margin-bottom: 59px;
    width: 100%;
    font-weight: 500;
  }
}

// Small devices (landscape phones, 576px and up)
@include small-and-up {
  .content-two-column-block {
    padding-top: 46px;
    h2 {
      font-size: rem(26);
      margin-bottom: 20px;
      width: 60%;
    }
    p {
      font-size: rem(17);
      line-height: 28.9px;
      margin-bottom: 37px;
    }
    .btn {
      margin-bottom: 59px;
      width: 100%;
    }
  }
}

// Medium devices (tablets, 768px and up)
@include medium-and-up {
  .content-two-column-block {
    padding-top: 74px;
    h2 {
      font-size: rem(34);
      margin-bottom: 21px;
      width: 80%;
    }
    p {
      font-size: rem(19);
      line-height: 33px;
      margin-bottom: 46px;
    }
    .btn {
      margin-bottom: 73px;
      width: 50%;
    }
  }
}

// Large devices (desktops, 992px and up)
@include medium-large-and-up {
  .content-two-column-block {
    padding-top: 85px;
    h2 {
      font-size: rem(36);
      margin-bottom: 25px;
      width: 80%;
    }
    p {
      font-size: rem(20);
      line-height: 34px;
      margin-bottom: 56px;
    }
    .btn {
      margin-bottom: 99px;
      width: 80%;
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@include large-large-and-up {
  .content-two-column-block {
    padding-top: 108px;
    h2 {
      font-size: rem(38);
      margin-bottom: 32px;
    }
    p {
      font-size: rem(22);
      line-height: 38px;
      margin-bottom: 69px;
    }
    .btn {
      margin-bottom: 119px;
      width: 60%;
    }
  }
}