.content-two-column-block {
  padding-top: 46px;

  @include medium-and-up {
    padding-top: 74px;
  }

  @include large-and-up {
    padding-top: 85px;
  }

  @include x-large-and-up {
    padding-top: 108px;
  }

  .heading {
    padding-left: 0;
  }

  h2 {
    font-size: rem(24);
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 20px;
    width: 60%;
    color: $black;

    @include medium-and-up {
      font-size: rem(34);
      width: 80%;
    }

    @include large-and-up {
      font-size: rem(36);
      margin-bottom: 25px;
    }

    @include x-large-and-up {
      font-size: rem(38);
      margin-bottom: 32px;
    }
  }

  p {
    font-size: rem(17);
    line-height: 1.7;
    margin-bottom: 37px;
    color: $grey-80;

    @include medium-and-up {
      font-size: rem(19);
      margin-bottom: 46px;
    }

    @include large-and-up {
      font-size: rem(20);
      margin-bottom: 56px;
    }

    @include x-large-and-up {
      font-size: rem(22);
      margin-bottom: 69px;
    }
  }

  .btn {
    margin-bottom: 59px;
    width: 100%;

    @include medium-and-up {
      margin-bottom: 73px;
      width: 50%;
    }

    @include large-and-up {
      margin-bottom: 99px;
      width: 80%;
    }

    @include x-large-and-up {
      margin-bottom: 119px;
      width: 60%;
    }
  }
}
