/*
 * Content Four Column 
 *
 */

.four-coloum-content {	
	color: $purple;
	padding: 104px 0 0 0;
	
	h2 {
		font-size: rem(40);
		margin: 0;
	}

	.four-coloum-content-wrap {

		.four-coloum-content-symbol {
			position: relative;
			margin: 32px 0 32px 0;
			-webkit-box-shadow: 0px 5px 20px 0px rgba(184,184,184,0.5);
			-moz-box-shadow: 0px 5px 20px 0px rgba(184,184,184,0.5);
			box-shadow: 0px 5px 20px 0px rgba(184,184,184,0.5);
		
			img {
				width: 100%;
				height: auto;
				object-fit: cover;
			}

			&.dark-img {
		
				a {
					color: $white;
				}
		
			}
		}

		.four-coloum-content-info {
			
			h4 {
				font-size : 1.5rem;
				line-height: 1.875rem;
				font-weight: 600;
				padding: 0;
				margin: 0;
			}

			p {
				font-size: rem(16);
				line-height: 1.875rem;
				font-family: roboto;
				
				&.publication-date {
					font-size: rem(14.5);
					font-style: italic;
					margin-bottom: 20px;
					color: #868e96;
				}
	  		} 

			a {
				color: $blue-text;
				font-size: rem(14);
				opacity: 0.75;
				text-decoration: underline; 
			}

			.blue-button { 
				width: 100%; 
			}
			
			.four-coloum-content-information {

			}
		}
	}
}


// Small devices (landscape phones, 576px and up)
@include mobile-only {
	.four-coloum-content {
		
		h2 {
			font-size: rem(36);
		}
		
		.four-coloum-content-info {
			
			h4 {
				font-size : 1.5rem;
			}
		}

		.four-coloum-content-wrap {
		
			.four-coloum-content-symbol {
				margin: 20px 0;

				img {
					height: 363px;
				}
			}
		}
		
	}
}


// Medium devices (tablets, 768px and up)
@include medium-and-up {
  .four-coloum-content {
	h2 {
	  font-size: rem(36);
	}
	.four-coloum-content-info {
	  h4 {
		font-size : 1.5rem;
	  }
	}
  }
}