/*  <!-- Split Three Column Start-->
  <div class="split-three-column"> 
    <div class="container">
      <div class="three-column-box">
        <div class="three-column-info">
          <h2>Our Vision</h2>
          <p>
            We live in a world where people are making the conscious decision to eat more delicious, creative plant-rich dishes and better meat.  Governments are convinced that more plants and better meat is the new normal and make sure this new standard is translated into policies. The handful of corporations that are driving forward the current broken meat system have changed their practices and policies to create a sustainable future for our agricultural and livestock systems.
          </p>
        </div>
        <div class="three-column-images row">
          <div class="col">
            <div class="first-column split-image">
              <img src="images/splitone.jpg">
            </div>
          </div>
          <div class="col">
            <div class="second-column split-image">
              <img src="images/splittwo.jpg">
            </div>
          </div>
          <div class="col">
            <div class="third-column split-image">
              <img src="images/splitthree.jpg">
            </div>
          </div>
        </div>
      </div>
    </div>      
  </div>
  <!-- Split Three Column End--> 
  */
  
.split-three-column { 
  margin-top: 104px;
  .three-column-box { 
    .three-column-info { 
       h2 { 
         font-size: 2.5rem; 
         margin-bottom: 64px; 
         font-weight: bold;
       } 
       p { 
         font-size: 1.375rem; 
         line-height: 2.25rem; 
         margin-bottom: 0px; 
       } 
     } 
     .three-column-images { 
       overflow: hidden; 
       min-height: 430px; 
       position: relative;
     } 
     .split-image { 
        position: absolute;
     } 
     .first-column {
      img {
      }    
     } 
     .second-column { 
        -webkit-transform: skew(25deg); 
        -moz-transform: skew(25deg); 
        -o-transform: skew(25deg); 
        border-left: 10px solid $brown-bg; 
        border-right: 10px solid $brown-bg;
        z-index: 2;
        width: 100%;
        left: 0;
        top: 0;
        overflow: hidden;
      img {
        -webkit-transform: skew(-25deg); 
        -moz-transform: skew(-25deg); 
        -o-transform: skew(-25deg); 
        margin-left: -150px;
      }   
     } 
     .third-column { 
      right: -165px;
      img {
      }   
     } 
   }
}


// Small devices (landscape phones, 576px and up)
@include mobile-only {
  .split-three-column { 
    margin-top: 48px;
    .three-column-box { 
      .three-column-info { 
         h2 { 
           font-size: 1.625rem; 
           margin-bottom: 32px; 
         } 
         p { 
           font-size: 1.0625rem; 
           line-height: 1.25rem; 
           margin-bottom: 40px; 
         } 
       } 
       .three-column-images { 
         overflow: hidden; 
         min-height: 184px; 
         position: relative;
       } 
       .split-image { 
          position: absolute;
          img {
            object-fit: cover;
            height: 184px;
          }    
       } 
       .first-column {
          margin-left: -50px;
          margin-right: -130px;
        img {

        }    
       } 
       .second-column { 
          -webkit-transform: skew(25deg); 
          -moz-transform: skew(25deg); 
          -o-transform: skew(25deg); 
          border-left: 10px solid $brown-bg; 
          border-right: 10px solid $brown-bg;
          z-index: 2;
          width: 130%;
          left: 0;
          top: 0;
          overflow: hidden;
        img {
          -webkit-transform: skew(-25deg); 
          -moz-transform: skew(-25deg); 
          -o-transform: skew(-25deg); 
          margin-left: -70px;
        }   
       } 
       .third-column { 
        right: -120px;
        img {
        }   
       } 
    }
  }
}

// Medium devices (tablets, 768px and up)
@include medium-and-up {
  .split-three-column { 
    .three-column-box { 
      .three-column-info { 
         h2 { 
           font-size: 2.1875rem; 
           margin-bottom: 64px; 
         } 
         p { 
           font-size: 1.1875rem; 
           line-height: 2.25rem; 
           margin-bottom: 40px; 
           &:last-child {
            margin-bottom: 72px;
           }
         } 
       } 
       .three-column-images { 
         overflow: hidden; 
         min-height: 330px; 
         position: relative;
       } 
       .split-image { 
          position: absolute;
          img {
            object-fit: cover;
            height: 330px;
          }    
       } 
       .first-column {
          margin-left: -50px;
          margin-right: -130px;
        img {

        }    
       } 
       .second-column { 
          -webkit-transform: skew(25deg); 
          -moz-transform: skew(25deg); 
          -o-transform: skew(25deg); 
          border-left: 10px solid $brown-bg; 
          border-right: 10px solid $brown-bg;
          z-index: 2;
          width: 110%;
          left: 0;
          top: 0;
          overflow: hidden;
        img {
          -webkit-transform: skew(-25deg); 
          -moz-transform: skew(-25deg); 
          -o-transform: skew(-25deg); 
          margin-left: -90px;
        }   
       } 
       .third-column { 
        right: -190px;
        img {
        }   
       } 
    }
  }
}

// Large devices (desktops, 992px and up)
@include medium-large-and-up {
  .split-three-column { 
    .three-column-box { 
      .three-column-info { 
         h2 { 
           font-size: 2.5rem; 
           margin-bottom: 64px; 
         } 
         p { 
           font-size: 1.375rem; 
           line-height: 2.25rem; 
           margin-bottom: 0px; 
           &:last-child {
            margin-bottom: 100px;
           }
         } 
       } 
       .three-column-images { 
         overflow: hidden; 
         min-height: 330px; 
         position: relative;
       } 
       .split-image { 
          position: absolute;
          img {
            object-fit: cover;
            height: 330px;
          }    
       } 
       .first-column {
          margin-left: -50px;
          margin-right: -130px;
        img {

        }    
       } 
       .second-column { 
          -webkit-transform: skew(25deg); 
          -moz-transform: skew(25deg); 
          -o-transform: skew(25deg); 
          border-left: 10px solid $brown-bg; 
          border-right: 10px solid $brown-bg;
          z-index: 2;
          width: 110%;
          left: 0;
          top: 0;
          overflow: hidden;
        img {
          -webkit-transform: skew(-25deg); 
          -moz-transform: skew(-25deg); 
          -o-transform: skew(-25deg); 
          margin-left: -90px;
        }   
       } 
       .third-column { 
        right: -110px;
        img {
        }   
       } 
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@include large-large-and-up {
  .split-three-column { 
    .three-column-box { 
      .three-column-info { 
         h2 { 
           font-size: 2.5rem; 
           margin-bottom: 64px; 
         } 
         p { 
           font-size: 1.375rem; 
           line-height: 2.25rem; 
           margin-bottom: 0px; 
         } 
       } 
       .three-column-images { 
         overflow: hidden; 
         min-height: 430px; 
         position: relative;
       } 
       .split-image { 
          position: absolute;
          img {
            object-fit: cover;
            height: 430px;
          }    
       } 
       .first-column {
          margin-left: -50px;
          margin-right: -130px;
        img {

        }    
       } 
       .second-column { 
          -webkit-transform: skew(25deg); 
          -moz-transform: skew(25deg); 
          -o-transform: skew(25deg); 
          border-left: 10px solid $brown-bg; 
          border-right: 10px solid $brown-bg;
          z-index: 2;
          width: 100%;
          left: 0;
          top: 0;
          overflow: hidden;
        img {
          -webkit-transform: skew(-25deg); 
          -moz-transform: skew(-25deg); 
          -o-transform: skew(-25deg); 
          margin-left: -115px;
        }   
       } 
       .third-column { 
        right: -150px;
        img {
        }   
       } 
    }
  }
}