/* 
 * Content Three Column
 */

.split-three-column { 
	margin-top: 48px;
	
	.three-column-box { 
		
		.three-column-info { 

			h2 { 
				font-size: rem(26);
				color: $purple;
				margin-bottom: 22px; 

				@include medium-and-up {
					font-size: rem(35);
					margin-bottom: 50px; 
				}
			} 

			p { 
				font-size: rem(17);
				line-height: 1.25rem; 
				color: $purple;
				margin-bottom: 40px; 

				@include medium-and-up {
					font-size: rem(20);
					line-height: 2.25rem; 
					margin-bottom: 40px; 
					&:last-child {
						margin-bottom: 72px;
					}
				}

				@include large-and-up {
					margin-bottom: 5rem;
				}

			} 

			@include medium-and-up {
				padding-top: 40px;
			}
		}

		.three-column-images { 
			min-height: 184px; 
			position: relative;
			overflow: hidden;
		} 

		.split-image { 
			position: absolute;
			img {
				object-fit: cover;
				height: 184px;
			}
		}

		.first-column {
			margin-left: -50px;
			margin-right: -130px;  
		} 

		.second-column { 
			transform: skew(25deg); 
			border-left: 10px solid $brown-bg; 
			border-right: 10px solid $brown-bg;
			z-index: 2;
			width: 120%;
			left: 0;
			top: 0;
			overflow: hidden;
			img {
				transform: skew(-25deg); 
				margin-left: -40px;
			} 
		} 

		.third-column { 
			z-index: 1;
			right: -100px;  
			@include small-and-up {
				right: -85px; 
			}
		} 
	}

	@include large-large-and-up {
		margin-top: 340px;
	}
}



// Medium devices (tablets, 768px and up)
@include medium-and-up {
	
	.split-three-column { 
		
		.three-column-box { 

			.three-column-images { 
				min-height: 330px; 
			}

			.split-image { 
				position: absolute;
				img {
					object-fit: cover;
					height: 330px;
				}    
			} 

			.second-column { 
				width: 110%;
				img {
					margin-left: -90px;
				}   
			} 

			.third-column { 
				right: -190px;
			} 
		}
	}
}

// Large devices (desktops, 992px and up)
@include medium-large-and-up {
	
	.split-three-column { 

		.three-column-box { 

			.split-image { 
				position: absolute;
				img {
					object-fit: cover;
					height: 330px;
				} 
			}

			.second-column { 
				width: 110%;  
			}

			.third-column { 
				right: -110px; 
			} 
		}
	}
}

// Desktop / 1200px and up
@include large-large-and-up {
	
	.split-three-column { 
		
		.three-column-box {

			.three-column-info { 
	
				h2 { 
					font-size: rem(40);
					font-weight: bold;
				} 
				
			} 

			.three-column-images { 
				min-height: 430px; 
			}

			.split-image { 
				position: absolute;
				img {
					object-fit: cover;
					height: 430px;
				}
			}

			.second-column { 
				width: 100%;
			} 

			.third-column { 
				right: -155px;  
			}  
		}
	}
}
