.covers-block .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

// Visibility  of covers in different screens 
// S,M should have 4 covers
// L & XL should have all sent from backend
// remove limit visibility class on load more button click 
.limit-visibility {
  .cover-card:nth-child(n+5) {
    display: none;
  }

  @include large-and-up {
    .cover-card:nth-child(n+5) {
      display: block;
    }
  }
}

.cover-card {
  min-height: 440px;
  flex-basis: 100%;
  padding: 32px 15px 60px;
  margin-bottom: 32px;
  position: relative;
  box-shadow: 0 0 10px rgba(0,0,0,.35);
  background-size: cover;
  background-position: center;
  color: $grey-80;

  @include medium-and-up {
    flex-basis: 48%;
  }

  @include large-and-up {
    flex-basis: 32%;
  }

  &:before {
    content: "";
    opacity: 0;
    transition: opacity 100ms linear;
  }

  &:hover {
    @include background-before-opacity($white, .55);
    box-shadow: 0 0 10px transparentize($black, .5);

    h2 {
      color: $grey-80;
      text-shadow: none;
    }

    p {
      color: $grey-80;
      opacity: 1;
      visibility: visible;
    }

    .btn {
      background-color: $orange-hover;
      border-color: $orange-hover;
    }
  }

  &--evergreen {
    @include background-before-opacity($black, .25);

    &:hover {
      @include background-before-opacity($green-80, .7);

      h2,
      p {
        color: $white;
      }
    }
  }

  &.dark-card-bg {
    color: $white;
  }

  & > * {
    position: relative;
  }

  h2 {
    font-size: rem(24);
    line-height: 1.2;
    font-weight: 500;
    margin-bottom: 32px;
    max-width: 80%;
    transition: color 100ms linear;
    text-shadow: 2px 2px 2px $grey;
    color: white;

    @include large-and-up {
      font-size: rem(28);
    }
  }

  p {
    font-size: rem(16);
    line-height: 1.6;

    @include large-and-up {
      font-size: rem(18);
    }
  }

  @include large-and-up {
    transition: box-shadow 150ms linear;
    padding-bottom: 70px;

    &:not(.single-cover){
      box-shadow: none;

      &:hover {
        box-shadow: 0 0 10px transparentize($black, .5);
      }
    }
  }
}

.cover-card-tag {
  color: $blue;
  display: inline-block;
  margin-bottom: 8px;
  text-decoration: none;
}

.cover-card-btn {
  position: absolute;
  bottom: 0;
  margin: 15px 0;
  width: 90%;
  cursor: pointer;
}

.covers-block {
  h2 {
    margin-bottom: 2.2rem;
  }
}
