.covers-block {
  .cover-card {
    min-height: 440px;
    padding: 32px 15px;
    margin-bottom: 32px;
    position: relative;
    &:hover {
     @include background-before-opacity(#385924);
     .cover-card-btn {
     background: $primary-button;
     border-color: $primary-button;
     }
     p {
      display: block;
     }
    }
    // &.card-one {
     @include background('images/covers-card-one.png');
    // }
    // &.card-two {
    //  @include background('images/covers-card-two.png');
    // }
    // &.card-three {
    //  @include background('images/covers-card-three.png');
    // }
    .cover-card-btn {
     background: transparent;
     color: $white;
     border-color: $white;
     padding: 10px;
     position: absolute;
     bottom: 0;
     margin: 15px 0;
     width: 91.43%;
    }
    &.dark-card-bg {
     color: $white;
    }
    h2 {
     font-size: rem(28);
     margin-bottom: 32px;
     position: relative;
    }
    p {
     font-size: rem(20);
     line-height: 2rem;
     color: $white;
     position: relative;
     display: none;
    }
    .cover-card-tag {
     color: $brown-bg-tags-text;
     display: inline-block;
     margin-bottom: 8px;
     position: relative;
     text-decoration: none;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@include mobile-only {
  .covers-block {
    .cover-card {
     .cover-card-btn.btn-transparent {
      width: 89.66%;
     }
   }
  }   
}

// Medium devices (tablets, 768px and up)
@include medium-and-up {
  .covers-block {
    .cover-card {
      .cover-card-btn {
      width: 90.91%;
      }
    }
  }   
}

// Large devices (desktops, 992px and up)
@include medium-large-and-up {
  .covers-block {
    .cover-card {
      .cover-card-btn {
       width: 89.66%;
      }
    }
  }   
}

// Extra large devices (large desktops, 1200px and up)
@include large-large-and-up {
  .covers-block {
    .cover-card {
      min-height: 440px;
      padding: 32px 15px;
      margin-bottom: 32px;
      position: relative;
      .cover-card-btn {
       width: 91.43%;
      }
    }
  }
}