/*<!-- Covers Start -->*/

/*
<div class="covers-block">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="cover-card card-one">
          <a href="#" class="cover-card-tag">#HashTag</a>
          <h2 class="cover-card-heading">Show you’re a food warrior</h2>
          <p>Cupcake cookie cotton candy chocolate cake oat ice sweet roll pastry croissant toffee mufﬁn tiramisu. Marsh mallow tootsie roll sugar plum powder oatcake gingerbread. </p>
          <button class="btn btn-primary btn-transparent btn-block cover-card-btn">TAKE ACTION</button>
        </div>
      </div> 
      <div class="col-lg-4 col-md-6">
        <div class="cover-card card-two dark-card-bg">
          <a href="#"  class="cover-card-tag">#HashTag</a>
          <h2 class="cover-card-heading">Sumartran Tiger</h2>
          <p>Cupcake cookie cotton candy chocolate cake oat ice sweet roll pastry croissant toffee mufﬁn tiramisu. Marsh mallow tootsie roll sugar plum powder oatcake gingerbread. </p>
          <button class="btn btn-primary btn-transparent btn-block cover-card-btn">TAKE ACTION</button>
        </div>
      </div> 
      <div class="col-lg-4 col-md-6">
        <div class="cover-card card-three dark-card-bg">
          <a href="#"  class="cover-card-tag">#HashTag</a>
          <h2 class="cover-card-heading">Tell Resolute you are watching</h2>
          <p>Cupcake cookie cotton candy chocolate cake oat ice sweet roll pastry croissant toffee mufﬁn tiramisu. Marsh mallow tootsie roll sugar plum powder oatcake gingerbread. </p>
          <button class="btn btn-primary btn-transparent btn-block cover-card-btn">TAKE ACTION</button>
        </div>
      </div>  
      <div class="col-lg-4 col-md-6 hidden-lg-up ">
        <div class="cover-card card-one">
          <a href="#"  class="cover-card-tag">#HashTag</a>
          <h2 class="cover-card-heading">Show you’re a food warrior</h2>
          <p>Cupcake cookie cotton candy chocolate cake oat ice sweet roll pastry croissant toffee mufﬁn tiramisu. Marsh mallow tootsie roll sugar plum powder oatcake gingerbread. </p>
          <button class="btn btn-primary btn-transparent btn-block cover-card-btn">TAKE ACTION</button>
        </div>
      </div>    
      <div class="col-lg-4 col-md-6 mb-5">
        <button class="btn btn-block btn-medium btn-small btn-transparent">Load More ...</button>
      </div>  
    </div>
  </div>
</div>
*/

/*  <!-- Covers End -->*/

.cover-card {
  min-height: 440px;
  padding: 32px 15px;
  margin-bottom: 32px;
  position: relative;
  &:hover {
    @include background-before-opacity(#385924);
    p {
      display: block;
    }
  }
  &.dark-card-bg {
    color: $white;
  }
  h2 {
    font-size: rem(28);
    margin-bottom: 32px;
    position: relative;
  }
  p {
    font-size: rem(20);
    line-height: 2rem;
    color: $white;
    position: relative;
    display: none;
  }
}

.cover-card-btn {
  background: $primary-button;
  border-color: $primary-button;
}

.cover-card-tag {
  color: $brown-bg-tags-text;
  display: inline-block;
  margin-bottom: 8px;
  position: relative;
  text-decoration: none;
}

.cover-card-btn {
  background: transparent;
  color: $white;
  border-color: $white;
  padding: 10px;
  position: absolute;
  bottom: 0;
  margin: 15px 0;
  width: 90%;
}

// Extra large devices (large desktops, 1200px and up)
@include large-large-and-up {
  .cover-card {
    min-height: 440px;
    padding: 32px 15px;
    margin-bottom: 32px;
    position: relative;
  }
}