.cover-card {
  min-height: 440px;
  flex-basis: 100%;
  padding: 32px 15px 60px;
  margin-bottom: 32px;
  position: relative;
  box-shadow: 0 0 10px rgba(0,0,0,.35);
  background-size: cover;
  background-position: center;
  &:before {
    content: "";
    opacity: 0;
    transition: opacity 100ms linear;
  }
  &:hover {
    @include background-before-opacity($green-80);
    box-shadow: 0 0 10px transparentize($black, .5);
    h2 {
      color: $white
    }
    p {
      opacity: 1;
      visibility: visible;
    }
    .cover-card-btn {
      background-color: $primary-button;
      border-color: $primary-button;
    }
  }
  &.dark-card-bg {
    color: $white;
  }
  & > * {
    position: relative;
  }
  h2 {
    font-size: rem(28);
    line-height: 1.2;
    font-weight: 500;
    margin-bottom: 32px;
    max-width: 80%;
    transition: color 100ms linear;
  } 
  p {
    font-size: rem(20);
    font-weight: 300;
    line-height: 1.6;
    color: $white;
    opacity: 0;
    visibility: hidden;
    transition: opacity 150ms linear;
  }
  @include large-and-up {
    transition: box-shadow 150ms linear;
    padding-bottom: 70px;

    &:not(.single-cover){
      box-shadow: none;
    }
  }
}

.cover-card-tag {
  color: $brown-bg-tags-text;
  font-weight: 300;
  display: inline-block;
  margin-bottom: 8px;
  text-decoration: none;
  &:hover {
    color: $yellow;
  }
}

.cover-card-btn {
  position: absolute;
  bottom: 0;
  margin: 15px 0;
  width: 90%;
  cursor: pointer;
}

.covers-block {
  h2 {
    margin-bottom: 2.2rem;
  }
}
