#footer {
  padding: 50px 0;
  background: $blue-bg;
  a {
    color: $blue-bg-anchor;
    &:hover {
      text-decoration: none;
    }
  }
  .footer-social-media {
    text-align: center;
    li {
      display: inline-block;
      margin: 0 10px;
      i {
        font-size: rem(30);
        color: $white;
      }
    }
  }
  .footer-links {
    text-align: center;
    li {
      display: inline-block;
      font-size: rem(22);
      color: $white;
      margin-bottom: 32px;
      a {
        text-transform: uppercase;
        color: $white;
        transition: 0.5s;
        margin: 0 5px;
        &:hover {
          color: $blue-bg-anchor;
        }
      }
    }
  }

  .gp-year {
    font-family: $roboto;
    font-size: rem(14);
    color: $white;
  }

  .footer-links-secondary {
    margin-top: 56px;
    @include medium-and-up {
      margin-top: 0;
    }
    color: #d8d8d8;
    text-align: center;
    li {
      margin-bottom: 24px;
      @include medium-and-up {
        display: inline-block;
        span { margin: 0 5px; }
      }
    }
    a {
      color: #d8d8d8;
      text-transform: uppercase;
      font-size: rem(16);
      @include medium-and-up {
        font-size: rem(14);
      }
      @include large-and-up {
        font-size: rem(16);
      }
    }
  }

  p {
    color: $white;
    margin-bottom: 0;
    &.copyright-text {
      font-size: rem(11);
      color: $white;
      margin: 20px 0;
      text-align: center;
    }
  }
}

.brown-bg {
  #footer {
  background: $header-footer-bg;
  }
}

// Small devices (landscape phones, 576px and up)
@include mobile-only {
  #footer {
    padding: 20px 0;
    .footer-links {
      li {
        display: block;
      }
    }
  }
}