
// Mixins because extending is not possible inside media queries
@mixin happy-point-block-background-image {
  background: url("images/happy-point-block-bg.jpg") center center no-repeat;
  background-size: cover; 
  height: 620px;
  width: 100%;
  position: relative; 
}

.happy-point-block-wrap {
    @include happy-point-block-background-image;
    @include background-before-opacity($light-blue-bg);
    h2 {
      width: 75%;
    }
    p {
      font-family: $roboto;
      font-size: rem(13);
      line-height: 1.15rem;
      color: $shadow-color;
    }
    form {
      input, .custom-select {
        height: 42px;
        border-radius: 0;
        border-color: transparent;
      }
    }
  }

@media (max-width: 767px) {
  .happy-point-block-wrap {
    height: 444px;
    padding-left: 15px;
    padding-right: 15px;
    .pt-20 {
      padding-top: 126px;
      padding-left: 0;
      padding-right: 0;
    }
    h2 {
      font-size: rem(26);
      line-height: 2rem;
      margin-bottom: 24px;
    }
    h5 {
      font-size: rem(16);
      line-height: 1.5rem;
    }
    .subscriber-btn {
      margin-top: 0;
      margin-bottom: 16px;
      width: 100%;
      padding: 10px;
    }
    p {
      text-align: left;
    }
    form {
      input, .custom-select {
        margin-bottom: 16px;
      }
    }  
  }
}

@include medium-and-up {
  .happy-point-block-wrap {
    max-height: 440px;
    .pt-20 {
      padding-top: 220px;
      padding-left: 0;
      padding-right: 0;
    }
    h2 {
      font-size: rem(28);
      line-height: 2.125rem;
      margin-bottom: 20px;
      color:$black;
    }
    h5 {
      font-size: rem(18);
      line-height: 1.75rem;
    }
    .subscriber-btn {
      width: 100%;
      margin-top: 16px;
      margin-bottom: 16px;
    }
    p {
      text-align: center;
    }
  }
}

@include medium-large-and-up {
  .happy-point-block-wrap {
    max-height: 500px;
    .pt-20 {
      padding-top: 260px;
      padding-left: 0;
      padding-right: 0;
    }
    h2 {
      font-size: rem(34);
      line-height: 2.125rem;
      margin-bottom: 30px;
    }
    h5 {
      font-size: rem(18);
      line-height: 1.5rem;
    }
    .subscriber-btn {
      margin-top: 0;
      margin-bottom: 16px;
      width: 100%;
      height: 42px;
      line-height: 42px;
    }
    p {
      text-align: left;
    }
  }
}
@include large-large-and-up {
  .happy-point-block-wrap {
    @include happy-point-block-background-image;
    @include background-before-opacity($light-blue-bg);
    .pt-20 {
      padding-top: 270px;
    }
    h2 {
      font-size: rem(36);
      margin-bottom: 42px;
    }
    h5 {
      font-size: rem(18);
    }
    .subscriber-btn {
      margin-top: 0;
      margin-bottom: 8px;
      width: 100%;
      height: 42px;
      line-height: 42px;
    }
    p {
      text-align: left;
    }
  }
}

/*css start for subscribe-form*/
.subscribe-form {
  margin: -15px;
  position: relative;
}
.subscribe-form label {
  display: none;
}
.subscribe-form .en__field {
  width: 100%;
  float: left;
  padding: 0 15px;
  margin-bottom: 10px;
}
.subscribe-form .en__field__input {
  width: 100%;
  height: 42px; 
  border-radius: 0;
  border:0;
  padding: 10px;
}
.subscribe-form .en__field--select {
  float: left;
  padding: 0 15px;
}
.subscribe-form .en__submit {
  width: 25%;
  float: left;
  padding: 0 15px;
}
.subscribe-form .en__submit button {
  background-color: #F36D3A;
  height: 42px;
  line-height: 42px;
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  font-size: 16px;
  border: 1px solid transparent;
  padding: 0 15px;
  border-radius: 5px;
}
.subscribe-form .en__submit button:hover {
  background-color: #e02d00;
}
.subscribe-text {
  float: right;
  padding-left: 15px;
}
@media (max-width: 575px) {
  .subscribe-form .en__submit {
    width: 100%;
    margin-bottom: 10px;
  }
  .subscribe-form .en__submit button {
    width: 100%;
  }
  .subscribe-text {
    float: unset;
    width: 94%;
    padding-right: 15px;
  }
}
@media (min-width: 576px) {
  .subscribe-form .en__submit {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
  }
}

@media (min-width: 768px) {
  .subscribe-form .en__field {
    width: 50%;
    margin-bottom: 16px;
  }
  .subscribe-form .en__submit button {
    width: 330px;
  }
  .subscribe-text {
    margin: 0 auto;
    width: 330px;
    float: unset;
    padding: 0;
  }
}

@media (min-width: 992px) {
  .subscribe-form .en__field {
    width: 41%;
  }
  .subscribe-form .en__field--select {
    width: 33%;
  }
  .subscribe-form .en__submit {
    width: 25%;
    margin-bottom: 10px; 
  }
  .subscribe-form .en__submit button {
    width: 100%;
  }
  .subscribe-text {
    float: right;
    width: 24%;
    padding-right: 15px;
  }
}

// Most design from large-large-up is used
@media (min-width: 1200px) { }
