
// Mixins because extending is not possible inside media queries
@mixin happy-point-block-background-image {
  background: url("images/happy-point-block-bg.jpg") center center no-repeat;
  background-size: cover; 
  height: 620px;
  width: 100%;
  position: relative; 
}

.happy-point-block-wrap {
    @include happy-point-block-background-image;
    @include background-before-opacity($light-blue-bg);
    p {
      font-family: $roboto;
      font-size: rem(13);
      line-height: 1.15rem;
      color: $shadow-color;
    }
    form {
      input, .custom-select {
        height: 42px;
        border-radius: 0;
        border-color: transparent;
      }
    }
  }

@media (max-width: 767px) {
  .happy-point-block-wrap {
    height: 470px;
    padding-left: 15px;
    padding-right: 15px;
    .pt-20 {
      padding-top: 100px;
      padding-left: 0;
      padding-right: 0;
    }
    h2 {
      font-size: rem(26);
      line-height: 2rem;
      margin-bottom: 24px;
    }
    h5 {
      font-size: rem(16);
      line-height: 1.5rem;
    }
    .subscriber-btn {
    margin-top: 0;
    margin-bottom: 16px;
    width: 100%;
    padding: 10px;
    }
    p {
      text-align: left;
    }
    form {
      input, .custom-select {
        margin-bottom: 16px;
      }
    }  
  }
}

@include medium-and-up {
  .happy-point-block-wrap {
    height: 470px;
    .pt-20 {
      padding-top: 250px;
      padding-left: 0;
      padding-right: 0;
    }
    h2 {
      font-size: rem(28);
      line-height: 2.125rem;
      margin-bottom: 8px;
      color:$black;
    }
    h5 {
      font-size: rem(18);
      line-height: 1.75rem;
    }
    .subscriber-btn {
      width: 100%;
      margin-top: 16px;
      margin-bottom: 16px;
    }
    p {
      text-align: center;
    }
  }
}

@include medium-large-and-up {
  .happy-point-block-wrap {
    height: 470px;
    .pt-20 {
      padding-top: 260px;
      padding-left: 0;
      padding-right: 0;
    }
    h2 {
      font-size: rem(34);
      line-height: 2.125rem;
      margin-bottom: 24px;
    }
    h5 {
      font-size: rem(18);
      line-height: 1.5rem;
    }
    .subscriber-btn {
      margin-top: 0;
      margin-bottom: 16px;
      width: 100%;
      height: 42px;
      line-height: 42px;
    }
    p {
      text-align: left;
    }
  }
}
@include large-large-and-up {
  .happy-point-block-wrap {
    @include happy-point-block-background-image;
    @include background-before-opacity($light-blue-bg);
    .pt-20 {
      padding-top: 350px;
    }
    h2 {
      font-size: rem(36);
    }
    h5 {
      font-size: rem(18);
    }
    .subscriber-btn {
      margin-top: 0;
      margin-bottom: 8px;
      width: 100%;
      height: 42px;
      line-height: 42px;
    }
    p {
      text-align: left;
    }
  }
}

  .subscribe-form {
      margin-left: -15px;
      position: relative;
    }
    .subscribe-form label {
      display: none;
    }
    .subscribe-form .en__field {
      width: 41%;
      float: left;
      padding: 0 0 0 15px;
    }
    .subscribe-form .en__field__input {
      width: 100%;
      height: 42px; 
      border-radius: 0;
      border:0;
      padding: 10px;
      font-weight: 400;
      box-shadow: 0 2px 5px $shadow-color;
    }
    .subscribe-form .en__field--select {
      width: 33%;
      float: left;
      padding: 0 0 0 15px;
    }
    .subscribe-form .en__submit {
      width: 25%;
      float: left;
      padding: 0 0 0 15px;
    }
    .subscribe-form .en__submit button {
      background-color: #F36D3A;
      height: 42px;
      line-height: 42px;
      color: #fff;
      text-transform: uppercase;
      width: 100%;
      font-size: 16px;
      border: 1px solid transparent;
      padding: 0 15px;
      border-radius: 5px;
      cursor: pointer;
      box-shadow: 0 2px 5px $shadow-color;
    }
    .subscribe-form .en__submit button:hover {
      background-color: #e02d00;
    }
    .subscribe-text {
      float: right;
      width: 24%;
      padding-right: 15px;
    }
    @media (max-width: 575px) {
      .subscribe-form .en__field {
        width: 100%;
        margin-bottom: 10px;
      }
      .subscribe-form .en__submit {
        width: 100%;
        margin-bottom: 10px;
      }
      .subscribe-form .en__submit button {
        width: 100%;
      }
      .subscribe-text {
        float: right;
        width: 94%;
        padding-right: 15px;
      }
    }
    @media screen and (min-width: 576px) and (max-width: 767px) {
      .subscribe-form .en__field {
        width: 100%;
        margin-bottom: 10px;
      }
      .subscribe-form .en__submit {
        width: 100%;
        margin-bottom: 10px;
        text-align: center;
      }
      .subscribe-form .en__submit button {
        width: 100%;
      }
      .subscribe-text {
        float: right;
        width: 94%;
        padding-right: 15px;
      }
    }

    @media (min-width: 768px) {
      .subscribe-form .en__field {
        width: 50%;
        margin-bottom: 16px;
      }
      .subscribe-form .en__submit {
        width: 357px;
        margin: 0 auto 10px auto;
        float: none;
      }
      .subscribe-text {
        float: right;
        width: 100%;
        padding-right: 15px;
      }
    }
    
    @media (min-width: 992px) {
      .subscribe-form .en__field {
        width: 41%;
        margin-bottom: 16px;
      }
      .subscribe-form .en__field--select {
        width: 33%;
      }
      .subscribe-form .en__submit {
        width: 25%;
        margin-bottom: 10px;
        float: left;
      }
      .subscribe-text {
        float: right;
        width: 24%;
        padding-right: 15px;
      }
    }

    @media (min-width: 1200px) {
      .subscribe-form .en__field {
        width: 41%;
        margin-bottom: 16px;
      }
      .subscribe-form .en__field--select {
        width: 33%;
      }
      .subscribe-form .en__submit {
        width: 25%;
        margin-bottom: 10px;
        float: left;
      }
      .subscribe-text {
        float: right;
        width: 24%;
        padding-right: 15px;
      }
    }