  /*Happy Point Block Start*/
  /*<div class="happy-point-block-wrap">
    <div class="container">
        <div class="col-md-6 offset-md-6 pt-20">
          <h2>Get action alerts in your inbox</h2>
          <h5>Some text here about the transparency of the communications. Opt out or contact us at any time.</h5>
          <a href="#" class="btn btn-primary btn-medium subscriber-btn">SUBSCRIBE</a>
        </div>
    </div>
  </div>*/
  /*Happy Point Block End*/

// Mixins because extending is not possible inside media queries
@mixin happy-point-block-background-image {
  background: url("images/happy-point-block-bg.jpg") center center no-repeat;
  background-size: cover; 
  height: 620px;
  width: 100%;
  position: relative; 
}

.happy-point-block-wrap {
    @include happy-point-block-background-image;
    @include background-before-opacity(#D6E6F2);
    p {
      font-family: roboto;
      font-size: 0.8rem;
      line-height: 1rem;
      color: #868e96;
    }
    form {
      input, .custom-select {
        height: 42px;
        border-radius: 0;
        border-color: transparent;
      }
    }
  }

@media (max-width: 575px) {
  .happy-point-block-wrap {
    height: 470px;
    padding-left: 15px;
    padding-right: 15px;
    .pt-20 {
      padding-top: 100px;
      padding-left: 0;
      padding-right: 0;
    }
    h2 {
      font-size: 1.625rem;
      line-height: 2rem;
      margin-bottom: 24px;
    }
    h5 {
      font-size: 1rem;
      line-height: 1.5rem;
    }
    .subscriber-btn {
    margin-top: 0px;
    margin-bottom: 16px;
    width: 100%;
    padding: 10px;
    }
    p {
      text-align: left;
    }
    form {
      input, .custom-select {
        margin-bottom: 16px;
      }
    }  
  }
}

@media (min-width: 768px) { 
  .happy-point-block-wrap {
    height: 470px;
    .pt-20 {
      padding-top: 250px;
      padding-left: 0;
      padding-right: 0;
    }
    h2 {
      font-size: 1.75rem;
      line-height: 2.125rem;
      margin-bottom: 8px;
    }
    h5 {
      font-size: 1.125rem;
      line-height: 1.75rem;
    }
    .subscriber-btn {
      width: 100%;
      margin-top: 16px;
      margin-bottom: 16px;
    }
    p {
      text-align: center;
    }
  }
}

@media (min-width: 992px) { 
  .happy-point-block-wrap {
    height: 470px;
    .pt-20 {
      padding-top: 260px;
      padding-left: 0;
      padding-right: 0;
    }
    h2 {
      font-size: 2.125rem;
      line-height: 2.125rem;
      margin-bottom: 24px;
    }
    h5 {
      font-size: 1.125rem;
      line-height: 1.5rem;
    }
    .subscriber-btn {
      margin-top: 0px;
      margin-bottom: 16px;
      width: 100%;
      height: 42px;
      line-height: 42px;
    }
    p {
      text-align: left;
    }
  }
}
@media (min-width: 1200px) { 
  .happy-point-block-wrap {
    @include happy-point-block-background-image;
    @include background-before-opacity(#D6E6F2);
    .pt-20 {
      padding-top: 350px;
    }
    h2 {
      font-size: 2.25rem;
    }
    h5 {
      font-size: 1.125rem;
    }
    .subscriber-btn {
      margin-top: 0px;
      margin-bottom: 8px;
      width: 100%;
      height: 42px;
      line-height: 42px;
    }
    p {
      text-align: left;
    }
  }
}