/* Header block
 * The main block where a heading subheading and description along with 
 * a CTA button is present
 */

/* HEADER BLOCK HTML
  <div class="page-header col-md-8 col-lg-8 col-sm-12">
    <div class="top-tags-wrap">
      <span>#TagName 1</span>
      <span>#TagName 2</span>
      <span>#TagName 3</span>
    </div>
    <h1>What you do matters</h1>
      <h3>A billion acts of courage can spark a brighter tomorrow.</h3>
      <p>Tart liquorice sweet roll pastry croissant toffee mufﬁn tiramisu. Marshmallow tootsie roll sugar plum powder oatcake ginger bread. Cupcake cookie cotton candy chocolate cake oat ice sweet roll pastry croissant toffee mufﬁn tiramisu. </p>
    <div class="row clearfix">
      <div class="col-md-4">
      <a href="#" class="btn btn-small btn-medium btn-primary btn-block">Take action</a>
      </div>
    </div>
  </div> <!-- Page Header block ends -->
*/
.main-header{
  color: $dark-blue;
  padding-top: 120px;
	padding-bottom: 80px;
	h1{
		font-size: rem(40);
		margin-bottom: 50px;
	}
	h3{
		font-size: rem(22);
		margin-bottom: 130px;
	}
	p{
		display: none;
	}

	@include medium-and-up {
		padding-top: 80px;
		h1{
			font-size: rem(48);
			margin-bottom: 40px;
		}
		h3{
			font-size: rem(24);
		}
		p{
			font-size: rem(27.5);
		}
	}

	@include medium-large-and-up {
		padding-top: 100px;
		h1{
			font-size: rem(56);
			margin-bottom: 50px;
		}
		h3{
			font-size: rem(30);
		}
		p{
			font-size: rem(20);
		}
	}
}

.page-header {

}

.page-header__background {
	position: absolute;
}
