.intro {
	display: flex;
	position: relative;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 950px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	color: #fff;

	h3 {
		margin-bottom: 1em;
	}

	p {
		line-height: 2em;
	}

	&.full-height {
		min-height: 100vh;
	}

	.container {
		z-index: 3;
	}

	.left {
		width: 50%
	}

	.skewed-overlay {
		position: absolute;
		transform: skew(30deg, 0deg);
    	top: 0;
    	bottom: 0;
    	right: 0;
    	left: -43%;
    	width: 100%;
    	background-image: linear-gradient( to bottom, rgba(82, 82, 82, 0.5), rgba(0,0,0,0) );
    	z-index: 2;
	}

}