.mobile-header-wrap {
  padding: 8px 15px;
  .search-link {
    padding-top: 4px;
  }
  .menu {
    width: 80px;
    height: 35px;
    display: inline-block;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.1);
    text-align: center;
    color: $white;
    border-radius: 5px;
    .fa {
      &.fa-bars,
      &.fa-times {
        display: none;
      }
    }
    &.active {
      .fa-bars {
        display: none;
      }
      .fa-times {
        display: inline-block;
      }
    }
  }
  .mobile-search-wrap {
    text-align: right;
  }
}
.mobile-menus {
  background: #234448; /* Old browsers */
  background: linear-gradient(124deg, #234448 0%,#2b5459 50%,#356268 50%,#356268 50%,#356268 51%,#2b5459 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  width: 300px; 
  position: fixed; 
  left: -320px; 
  top: 0;
  padding: 20px 20px 20px 0;
  z-index: 5000;
  height: calc(100vh);
  @include background-before-opacity(rgba(22,22,22,0.65));
  .btn-secondary {
    width: 250px;
    margin: 0 auto;
    display: block;
    position: absolute;
    bottom: 20px;
    left: 7%;
  }
}

.country-icon {
  width: 28px;
  height: 28px;
  float: left;
  margin: 6px 10px 0 0;
}
.styled-select {
  overflow: hidden;
  background: url('images/down-arrow-green.png') no-repeat 100% 10px;
  }

.search-box {
  display: none;
  position: absolute;
  top: 46px;
  right: 0;
  width: 320px;
  padding: 10px 5px;
  background: #02484e;
  input[type="text"] {
    padding: 0 10px;
    border-radius: 5px;
    border: none;
    line-height: 38px;
    float: left;
  }
}

#header {
  &.top-navigation {
    background: $blue-top-nav;
    padding: 0;
    width: 100%;
    z-index: 500;
    opacity: 0.8;
    .navbar-brand {
      // padding: 0 11px 0 15px;
      margin: 0;
    }
    .navbar {
      padding: 0;
      width: 100%;
      li {
        width: 20%;
        text-align: left;
        position: relative;
        line-height: 22px;
        padding: 11px 0;
        margin-top: 0;
        margin-right: 15px;
        &.big-screen-nav-link {
          text-align: center;
          &:hover {
            transition: 0.5s;
            border-bottom: 2px solid $white;
            a {
              color: $white;
              text-decoration: none;
            }
          }
          &.active {
            transition: 0.5s;
            border-bottom: 3px solid $blue-bg-anchor;
            a {
              color: $blue-bg-anchor;
              text-decoration: none;
            }
          }
        }  
        &.donatebtn {
          width: 15%;
          a {
            color: $grey;
            background: #68dfde;
          }
          a:hover {
            color: $black;
            background: #77ebe0;
          }
        } 
        a {
          color: $white;
          font-size: rem(16);
          display: inline-block; 
          line-height: 40px;
        }
        .btn-secondary {
          font-size: rem(12);
          color: $black;
          margin-top: 3px;
          font-weight: 500;
        }
        &.loginSignUpWrap {
          color: $nav-link;
          width: 220px;
          margin-left: 10px;
          visibility: hidden;
          display: none;
          i {
            display: inline-block;
            float: left;
            font-size: rem(30);
            margin-top: 5px;
          }
          a {
            color: $nav-link;
            font-size: rem(16);
            margin: 9px 2px 0;
            &:hover {
              transition: 0.5s;
              color: $green-link-hover;
              }
            }
          }
        &.nav-search-wrap {
          width: 30%;
          color: $search-text-colour;
          input::-webkit-input-placeholder {
            color: $grey-40;
          }
          .top-nav-search-btn {
            background: none;
            border: none;
            position: absolute;
            top: 18px;
            right: 15px;
            font-size: 20px; 
            i {
              vertical-align: middle;
              font-size: 1.3rem;
              margin-right: -10px;
            }
          }
          .form-control {
            border-radius: 0;
            padding: 10px;
          }
        }
        &.active-li {
          background-color: $hover-nav;
          .country-select-dropdown {
            & > span:after {
              transform: rotate(180deg);
            }
          }  
        }
      }
      .country-select-dropdown {
        padding-left: 15px;
        position: relative;
        & > span:after {
          content: "";
          width: 8px;
          height: 8px;
          background-repeat: no-repeat;
          background-image: url('images/down-arrow-green.png');
          background-position: center;
          background-size: contain;
          display: inline-block;
          margin-left: 10px;
        }
        .selected-option {
          font-size: rem(14.5);
          color: $white;
          line-height: 40px;
          display: block;
          position: relative;
          padding-right: 15px;
          cursor: pointer;
        }
      }
      .country-select-box {
        display: none;
        position: absolute;
        left: 0;
        width: 920px;
        z-index: 1;
        margin-top: 13px;
        background: $blue-bg;
        padding: 20px 20px 20px 70px;
        margin-left: -65%;
        .country-selection-option {
          height: 350px;
          overflow-y: scroll;
          &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            background-color: $blue-bg;
          }
          &::-webkit-scrollbar {
            width: 4px;
          }
          &::-webkit-scrollbar-thumb {
            background-color: #4d8b42;
          }
          .country-option-box {
            color: $white;
            text-align: left;
            font-size: rem(14.5);
            line-height: 24px;
            width: 100%;
            .default-lang {
              margin-bottom: 20px;
              display: inline-block;
              padding-left: 20px;
            }
            .country-list {
              display: -ms-flexbox;
              -ms-flex-direction: column;
              -ms-flex-wrap: wrap;
              display: flex;
              flex-direction: column;
              flex-wrap: wrap;
              /*NEED TO INCRESE THESE HEIGHT ACCORDING TO RECORDS*/
              height: 2500px; 
              ul {
                width: 33.33%;
                margin-bottom: 20px;
                padding-left: 20px;
                display: inline-block;
                vertical-align: top;
                li {
                  width: 100%;
                  text-align: left;
                  cursor: pointer;
                  line-height: 24px;
                  padding: 0;
                  a {
                    font-size: rem(14);
                    text-decoration: none;
                  }
                  &.active {
                    color: #a4df23;
                    a {
                      color: #a4df23;
                    }
                  }
                  &.list-title {
                    position: relative;
                    .country-alphabet {
                      position: absolute;
                      left: 0;
                      top: 0;
                      z-index: 1;
                      margin-left: -20px;
                    }
                  }
                }
              }  
            }
          }
        }
      }
    }
    .pr-15 {
      padding-right: 15px;
    }
    .pl-15 {
      padding-left: 15px;
    }
  }
}


.fixedElement {
  &.fixed {
    top: 20px;
    right: 120px;
    z-index: 5;
  }
}

.mobile-search-wrap {
  .fa {
    color: #66CB00;
  }
}

// Small devices (landscape phones, 576px and up)
@include mobile-only {
  // #header {
  //   .navbar-brand {
  //     img {
  //       width: 100%;
  //     }
  //   }
  //   &.top-navigation {
  //     position: fixed;
  //     transition: top 0.2s ease-in-out;
  //     top: 0;
  //     &.nav-up {
  //       top: -60px;
  //     }
  //     .navbar {
  //       .country-select-box {
  //         width: 300px;
  //         padding: 10px 20px 0 35px;
  //         margin-left: 0;
  //         .country-selection-option {
  //           height: 400px;
  //           .country-option-box {            
  //             .country-list {
  //               height: auto;
  //               ul {
  //                 width: 100%;
  //               }
  //             }
  //           }
  //         }
  //       }
  //       li {
  //         text-align: left;
  //         border-bottom: solid 1px $border-color;
  //         padding: 10px 0 10px 15px;
  //         width: auto;
  //         &.loginSignUpWrap {
  //           i {
  //             margin-right: 10px;
  //           }
  //         }
  //         &.nav-search-wrap {
  //           width: 100%;
  //         }
  //         &.active {
  //           border-left: solid 5px $black;
  //         }
  //         .styled-select {
  //           margin-top: 0;
  //         }
  //         &.active-li {
  //           background-color: transparent;
  //         }
  //       }
  //     }
  //   }
  // }
  // .navbar-light {
  //   width: 100%;
  //   .navbar-toggler {
  //     height: auto;
  //     padding: 10px 20px;
  //     background: #F2A781;
  //     color: $white;
  //     font-size: rem(14);
  //     text-transform: uppercase;
  //   }
  //   .navbar-nav {
  //     margin-top: 15px;
  //   }
  //   .mobile-header-wrap {
  //     text-align: center;
  //   }
  // }
  

  // .mobile-search-wrap {
  //   .fa {
  //     color: #66CB00;
  //   }
  //   .mobile-search-input {
  //     display: block;
  //     width: 88%;
  //     border: 0;
  //     outline: none;
  //     padding: 0;
  //     font-size: rem(14);
  //     font-weight: bold;
  //     color: #676767;
  //   }

  //   #searchsubmit {
  //     display: block;
  //     float: right;
  //     background: none;
  //     color: #717171;
  //     border: 0;
  //     outline: none;
  //     cursor: pointer;
  //     font-size: rem(15);
  //   }
  //   #searchbar {
  //     display: none;
  //     position: absolute;
  //     left: 0;
  //     top: 48px;
  //     width: 100%;
  //     padding: 10px 20px;
  //     border-top: 1px solid #d8d8d8;
  //     z-index: 9999;
  //     background: #fff;
  //     -webkit-box-shadow: -1px 2px 2px rgba(0,0,0,0.2);
  //     -moz-box-shadow: -1px 2px 2px rgba(0,0,0,0.2);
  //     box-shadow: -1px 2px 2px rgba(0,0,0,0.2);
  //   }
  // }
  // .mobile-search-wrap {
  //   display: inline-block;
  // }
  // }
  // .mobile-search-wrap {
  //   display: inline-block;
  // }
}

// Medium devices (tablets, 768px and up)
@include medium-and-up {
  #header {
    .navbar-brand {
      img {
        width: 100%;
      }
    }
    &.top-navigation {
      .mobile-menus {
        .country-select-box {
          width: 300px;
          padding: 10px 20px 0 35px;
          margin-left: 0;
          .country-selection-option {
            height: 400px;
            .country-option-box {            
              .country-list {
                height: auto;
                ul {
                  width: 100%;
                }
              }
            }
          }
        }
        li {
          text-align: left;
          border-bottom: solid 1px $border-color;
          padding: 10px 0 10px 15px;
          width: auto;
          &.loginSignUpWrap {
            i {
              margin-right: 10px;
            }
          }
          &.nav-search-wrap {
            width: 100%;
          }
          &.active {
            border-left: solid 5px $black;
          }
          .styled-select {
            margin-top: 0;
          }
          &.active-li {
            background-color: transparent;
          }
        }
      }
    }
  }
  .mobile-search-wrap {
    .fa {
      color: #66CB00;
    }
    .mobile-search-input {
      display: block;
      width: 88%;
      border: 0;
      outline: none;
      padding: 0;
      font-size: rem(14);
      font-weight: bold;
      color: #676767;
    }
    #searchsubmit {
      display: block;
      float: right;
      background: none;
      color: #717171;
      border: 0;
      outline: none;
      cursor: pointer;
      font-size: rem(15);
    }
    #searchbar {
      display: none;
      position: absolute;
      left: 0;
      top: 48px;
      width: 100%;
      padding: 10px 20px;
      border-top: 1px solid #d8d8d8;
      z-index: 9999;
      background: $white;
      box-shadow: -1px 2px 2px rgba(0,0,0,0.2);
    }
  }
}

// Large devices (desktops, 992px and up)
@include medium-large-and-up {
  #header.top-navigation {
    .navbar {
      li {
        width: 28%;
        a {
          font-size: rem(18);
        }
        &.big-screen-nav-link {
        }
        .btn-secondary {
          height: 42px;
          line-height: 42px;
          font-size: rem(16);
          margin: 0;
        }
      }
    }
    .navbar-nav {
      width: 100%;
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@include large-large-and-up {
  #header.top-navigation {
    position: fixed;
    padding: 0;
    top: 0;
    .navbar-brand {
      padding: 0 25px 0 15px;
      margin: 0;
    }
    .navbar {
      li {
        width: 20%;
        .btn-secondary {
          height: rem(36);
          line-height: 42px;
          min-height: 42px;
          margin: 0;
        }
      }
    }
    .navbar-nav {
      width: 100%;
    }
  }
}

@media screen and (max-width: 375px) {
  .navbar {
    .mobile-header-wrap {
      padding: 9px 0;
      a {
        img {
          width: 48vw;
        }
      }
      .mobile-search-wrap {
        padding: 5px 5px 0 0;
      }
    }
  }
}