.top-navigation {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 3;
  padding: 0;
  text-transform: uppercase;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background: fade-out($top-nav, 0.10);

  a {
    color: $white;
  }

  .btn-donate {
    color: $grey;
  }

  // Move header down when WordPress Admin Bar is present
  .admin-bar & {
    top: 46px;

    @media screen and (min-width: 783px) {
      top: 32px;
    }
  }
}

.navbar-dropdown-toggle {
  &[aria-expanded="true"] {
    .fa-bars {
      display: none;
    }
    .fa-times {
      display: inline-block;
    }
  }
  &[aria-expanded="false"] {
    .fa-bars {
      display: inline-block;
    }
    .fa-times {
      display: none;
    }
  }
  // Hide button text on smallest screens
  .navbar-toggle-label {
    display: none;
    @include small-and-up {
      display: inline;
    }
  }

  @include large-and-up {
    display: none;
  }
}
.navbar-search-toggle {
  @include large-and-up {
    display: none;
  }
}

.site-logo,
.btn-navbar-toggle,
.country-dropdown-toggle,
.nav-item,
.nav-link {
  line-height: rem(54);
  padding: 0 15px;

  // Use (min-width: 783px) for parity with WP's .admin-bar
  @media screen and (min-width: 783px) {
    line-height: rem(60);
    font-size: rem(18);
  }
}

.btn-navbar-toggle,
.country-dropdown-toggle,
.nav-link {
  &.active,
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    box-shadow: none;
    outline: 0;
  }
}

.btn-navbar-toggle {
  fa {
    font-size: rem(18);
  }
  border-bottom: 2px solid transparent;
  &.active,
  &:hover,
  &:focus,
  &:active {
    border-bottom: 2px solid $white;
  }
}

.site-logo {
  &:focus {
    box-shadow: none;
  }

  img {
    height: rem(20);
    @include small-and-up {
      height: rem(24);
    }
    @include large-and-up {
      height: rem(30);
    }
  }
}

.navbar-dropdown-toggle {
  order: -1;
}

.navbar-dropdown {
  display: none;
  margin: 0;
  list-style-type: none;

  &.open {
    display: flex;
  }

  @media (min-width: #{$medium-width}) and (max-width: #{$large-width}) {
    max-height: calc( 100vh - #{rem(60)} );
  }
  .admin-bar & {
    @media screen and (max-width: 782px) {
      max-height: calc( 100vh - #{rem(60)} - 46px );
    }
    @media screen and (min-width: 783px) and (max-width: #{$large-width}) {
      max-height: calc( 100vh - #{rem(60)} - 32px );
    }
  }

  // Equiv. to "large-and-down", to avoid need to override all styles below
  @media (max-width: #{$large-width}) {
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 300px;
    height: calc( 100vh - #{rem(54)} );
    padding: 0.5em 0 20px;
    border-left: 8px solid $top-nav;
    background-color: fade-out($top-nav, 0.15);
    background-size: cover;
    overflow-y: auto;

    .country-dropdown-toggle {
      background: url('images/country-icon.png') 0.5em center no-repeat;
      background-size: 1.5em;
    }

    .nav-item {
      position: relative;

      &:last-child {
        margin: auto 0 0.5em;
        flex: 0;
      }
    }

    .country-dropdown-toggle,
    .nav-link {
      padding: 0 40px;
      display: block;
      line-height: rem(45);
      font-size: rem(16);
      margin-bottom: 0.5em;
    }

    .active .nav-link,
    [aria-expanded="true"],
    .country-dropdown-toggle:focus,
    .nav-link:focus,
    .country-dropdown-toggle:hover,
    .nav-link:hover {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        background: $black;
        width: 8px;
        margin-left: -48px;
      }
    }

    .btn-donate {
      display: block;
      width: 200px;
      margin: 0 auto;
      padding: 5px 30px;
    }
  }

  @include large-and-up {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    padding: 0 5%;

    .nav-link {
      padding: 0 20px;
      min-width: 20%;
      text-align: center;
      border-bottom: 2px solid transparent;

      &:hover,
      &:focus,
      &:active {
        border-bottom: 2px solid $white;
      }
    }
    .active .nav-link {
      color: $spray;
      border-bottom: 2px solid $spray;
    }
  }

  .nav-item {
    margin: 0;
    padding: 0;
  }
}

.nav-search-wrap {
  display: none;
  position: relative;
  color: $search-text-colour;

  &.open {
    display: block;
  }

  // Equiv. to "large-and-down", to avoid need to override all styles below
  @media (max-width: #{$large-width}) {
    position: absolute;
    top: 100%;
    right: 0;
    width: 300px;
    padding: 11px;
    max-width: 80%;
    background: fade-out($blue-bg, 0.15);
  }

  @include large-and-up {
    margin-top: 11px;
    max-width: 20%;
    display: inline-block;
  }

  input::-webkit-input-placeholder {
    color: $grey-40;
  }
  .top-nav-search-btn {
    background: none;
    border: none;
    position: absolute;
    top: 11px;
    right: 16px;
    font-size: rem(20);
    line-height: 38px;
    i {
      vertical-align: middle;
      font-size: rem(21);
    }

    @include large-and-up {
      top: 0;
    }
  }

  .form-control {
    border-radius: 0;
    padding: 10px;
  }
}

.country-dropdown-toggle {
  cursor: pointer;
  font-size: rem(16);
  border: 0;
  color: $white;
  background: transparent;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  &::after {
    content: "";
    width: 8px;
    height: 8px;
    background: url('images/down-arrow-green.png') no-repeat center center;
    background-size: contain;
    display: inline-block;
    margin-left: 10px;
  }

  &[aria-expanded="true"]::after {
    transform: rotate(180deg);
  }
}

.country-list {
  display: none;
  text-transform: none;
  background: $blue-bg;
  line-height: 1.5;
  padding: 1.5em 0 0;

  &.open {
    display: block;
  }

  a {
    display: block;
    color: $white;
  }

  a:hover,
  .active a {
    color: $gp-green-80;
    text-decoration: none;
  }

  .country-group-letter {
    font-size: rem(16);
    position: absolute;
    line-height: 1.5;
    font-weight: bold;
    color: $grey-40;
    margin-left: -1.5em;

    @include large-and-up {
      margin-left: -2em;
    }
  }

  > ul {
    padding: 0 0 2em;
    margin-top: 1.5em;
  }

  > a,
  li {
    position: relative;
    list-style-type: none;
    padding-left: 40px;
    font-size: rem(16);

    @include large-and-up {
      padding-left: 2em;
    }

    ul {
      break-inside: avoid;
      padding: 0;
      margin: 0 1em 1.5em 0;
    }

    li {
      padding-left: 0;
      list-style-type: none;
    }
  }

  @include large-and-up {
    position: absolute;
    height: 344px;
    width: 90%;
    padding: 2em;
    left: 10%;
    // overflow-x: none;
    overflow-y: scroll;
    max-height: calc( 100vh - #{rem(60)} );

    .admin-bar & {
      max-height: calc( 100vh - #{rem(60)} - 32px );
    }

    > ul {
      column-count: 3;
    }
  }
  @media screen and (min-width: 1024px) {
    padding: 2em 4em 4em;
    width: 80%;
    left: 10%;
  }
}
