$menu-height-small: rem(54);
$menu-height-large: rem(60);

.top-navigation {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 3;
  padding: 0;
  text-transform: uppercase;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background: transparentize($top-nav, 0.20);
  height: $menu-height-small;

  @include medium-and-up {
    height: $menu-height-large + rem(2);
  }

  a {
    color: $white;
  }

  .btn-donate {
    color: $grey;
  }

  // Move header down when WordPress Admin Bar is present
  .admin-bar & {
    top: 46px;

    @media screen and (min-width: 783px) {
      top: 32px;
    }
  }
}

.site-logo,
.btn-navbar-toggle,
.navbar-search-toggle,
.country-dropdown-toggle,
.nav-item,
.nav-link {
  line-height: $menu-height-small;
  padding: 0 15px;

  // Use (min-width: 783px) for parity with WP's .admin-bar
  @media screen and (min-width: 783px) {
    line-height: $menu-height-large;
    font-size: rem(18);
  }
}

.btn-navbar-toggle,
.country-dropdown-toggle,
.nav-link {
  &.active,
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    box-shadow: none;
    outline: 0;
  }
}

.navbar-search-toggle,
.btn-navbar-toggle {
  line-height: rem(54 - 22);
  margin: 11px;
  padding: 0 22px;
  color: $white;

  fa {
    font-size: rem(18);
  }
}

.navbar-dropdown-toggle {
  &[aria-expanded="true"] {
    z-index: 2;
    background: transparent url('images/close-icon.svg') right center no-repeat;
    background-size: 1.5em;
    width: $menu-height-small;
    position: absolute;
    left: 250px;
    height: rem(32);
    width: rem(32);
    outline: 0;
    box-shadow: none;
    padding: 0;

    @include small-and-up {
      left: 320px;
    }
    // Use (min-width: 783px) for parity with WP's .admin-bar
    @media screen and (min-width: 783px) {
      left: 365px;
      width: rem(40);
      height: rem(40);
    }

    span {
      @extend .screen-reader-text;
    }
  }

  @include large-and-up {
    display: none;
  }
}

.navbar-search-toggle {
  cursor: pointer;
  border: 0;
  background: url('images/search.svg') center center no-repeat;
  background-size: 28px;
  margin-left: auto;
  z-index: 0;

  @include large-and-up {
    display: none;
  }
}

.site-logo {
  @media (max-width: #{$large-width}) {
    position: absolute;
    width: 100%;
    text-align: center;
  }
  &:focus {
    box-shadow: none;
  }

  img {
    height: rem(20);
    @include small-and-up {
      height: rem(24);
    }
    @include large-and-up {
      height: rem(30);
    }
  }
}

.navbar-dropdown-toggle {
  order: -1;
}

.navbar-dropdown {
  display: none;
  // display: flex;
  margin: 0;
  list-style-type: none;

  &.open {
    display: flex;
  }

  // Dropdown width permutations
  @media screen and (max-width: #{$small-width}) {
    &,
    .country-dropdown-toggle {
      width: 300px;
    }
    &:before {
      left: 300px;
    }
  }
  // Use (min-width: 783px) for parity with WP's .admin-bar
  @media screen and (min-width: #{$small-width}) and (max-width: 782px) {
    &,
    .country-dropdown-toggle {
      width: 375px;
    }
    &:before {
      left: 375px;
    }
  }
  // Use (min-width: 783px) for parity with WP's .admin-bar
  @media screen and (min-width: 783px) and (max-width: #{$large-width}) {
    &,
    .country-dropdown-toggle {
      width: 425px;
    }
    &:before {
      left: 425px;
    }
  }
  // Dropdown height permutations, with and without WP admin bar
  height: 100vh;
  .admin-bar & {
    @media screen and (max-width: 782px) {
      height: calc( 100vh - 46px );
    }
    @media screen and (min-width: 783px) and (max-width: #{$large-width}) {
      height: calc( 100vh - 32px );
    }
  }

  // All other dropdown styles
  @media (max-width: #{$large-width}) {
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    border-left: 8px solid transparentize($top-nav, 0.1);
    background: transparentize($top-nav, 0.2) url('images/dropdown-gradient.svg') no-repeat;
    overflow-y: auto;
    z-index: 1;

    &::before {
      content: "";
      display: block;
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      background-color: transparentize($black, 0.5);
      z-index: 0;
    }

    .country-dropdown-toggle {
      text-align: left;
      margin-left: -8px;
      padding: 2px 70px 0 48px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      &::before {
        content: "";
        margin-left: -48px;
        width: 44px;
        display: inline-block;
        vertical-align: middle;
        height: 1.75em;
        background: $blue-bg url('images/country-icon.png') center center no-repeat;
        border-right: 1px solid $grey-60;
        background-size: contain;
      }
    }

    .nav-item {
      // position: relative;
      z-index: 2;

      &:last-child {
        margin: auto 0 1.5em;
        flex: 0;
      }
    }

    .nav-link {
      padding: 0 40px;
      display: block;
      line-height: rem(45);
      font-size: rem(16);
      margin-bottom: 0.5em;
    }

    .nav-link,
    .nav-link:focus,
    .nav-link:hover {
      position: relative;
      z-index: 2;

      &:before {
        content: "";
        position: absolute;
        height: 1em;
        background: $black;
        width: 8px;
        margin-left: -48px;
        z-index: 2;
      }
    }

    .btn-donate {
      display: block;
      width: 200px;
      margin: 0 auto;
      padding: 5px 30px;
    }
  }

  // Background position control
  @media (max-width: #{$medium-width}) {
    background-position: right $menu-height-small;
  }
  @media (min-width: #{$medium-width}) and (max-width: #{$large-width}) {
    background-position: right $menu-height-large;
  }

  @include large-and-up {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    padding: 0 5%;

    .nav-link {
      padding: 0 20px;
      min-width: 20%;
      text-align: center;
      border-bottom: 2px solid transparent;

      &:hover,
      &:focus,
      &:active {
        border-bottom: 2px solid $white;
      }
    }
    .active .nav-link {
      color: $spray;
      border-bottom: 2px solid $spray;
    }
  }

  .nav-item {
    margin: 0;
    padding: 0;
  }
}

.nav-search-wrap {
  display: none;
  position: relative;
  color: $search-text-colour;

  &.open {
    display: block;
  }

  // Equiv. to "large-and-down", to avoid need to override all styles below
  @media (max-width: #{$large-width}) {
    position: absolute;
    top: 100%;
    right: 0;
    width: 300px;
    padding: 11px;
    max-width: 80%;
    background: transparentize($blue-bg, 0.15);
  }

  @include large-and-up {
    margin-top: 11px;
    max-width: 20%;
    display: inline-block;
  }

  input::-webkit-input-placeholder {
    color: $grey-40;
  }
  .top-nav-search-btn {
    background: none;
    border: none;
    position: absolute;
    top: 11px;
    right: 16px;
    font-size: rem(20);
    line-height: 38px;
    i {
      vertical-align: middle;
      font-size: rem(21);
    }

    @include large-and-up {
      top: 0;
    }
  }

  .form-control {
    border-radius: 0;
    padding: 10px;
  }
}

.country-dropdown-toggle {
  cursor: pointer;
  font-size: rem(16);
  border: 0;
  color: $white;
  background: transparent;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  background-color: $blue-bg;
  @include large-and-up {
    background-color: transparent;
  }

  &::after {
    content: "";
    width: 8px;
    height: 8px;
    background: url('images/down-arrow-green.png') no-repeat center center;
    background-size: contain;
    display: inline-block;
    margin-left: 10px;
    transition: transform 100ms ease-in-out;
  }

  &[aria-expanded="true"] {
    background-color: transparentize($blue-bg, 0.10);

    &::after {
      transform: rotate(180deg);
    }
  }
}

.country-list {
  display: none;
  text-transform: none;
  background: transparentize($blue-bg, 0.10);
  line-height: 1.5;
  padding: 1.5em 0;

  &.open {
    display: block;
  }

  a {
    display: block;
    color: $white;
  }

  a:hover,
  .active a {
    color: $gp-green-80;
    text-decoration: none;
  }

  .country-group-letter {
    font-size: rem(16);
    position: absolute;
    line-height: 1.5;
    font-weight: bold;
    color: $grey-40;
    margin-left: -1.5em;

    @include large-and-up {
      margin-left: -2em;
    }
  }

  > ul {
    padding: 0 0 2em;
    margin-top: 1.5em;
  }

  > a,
  li {
    position: relative;
    list-style: none;
    padding-left: 40px;
    font-size: rem(16);

    @include large-and-up {
      padding-left: 2em;
    }

    ul {
      break-inside: avoid;
      padding: 0;
      margin: 0 1em 1.5em 0;
    }

    li {
      padding-left: 0;
      list-style: none;
    }
  }

  @include large-and-up {
    position: absolute;
    height: 344px;
    width: 90%;
    padding: 2em;
    left: 10%;
    // overflow-x: none;
    overflow-y: scroll;
    max-height: calc( 100vh - #{$menu-height-large} );

    .admin-bar & {
      max-height: calc( 100vh - #{$menu-height-large} - 32px );
    }

    > ul {
      column-count: 3;
    }
  }
  @media screen and (min-width: 1024px) {
    padding: 2em 4em 4em;
    width: 80%;
    left: 10%;
  }
}
