/*
 * News section
 *
 */

/* // Markup for News section
<div class="news-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3>In the news</h3>
      </div>
      <div class="col-md-3 ml-auto">
        <a class="btn btn-medium btn-blue btn-block" href="#">READ ALL THE NEWS</a>
      </div> 
      <div class="topicwise-news-section clearfix col-md-12">
        <ul class="topicwise-news-list list-unstyled">
          <li class="media topicwise-news-list-itme">
            <img class="d-flex mr-3 topicwise-news-image" src="images/news-first.png" alt="topic wise news image placeholder">
            <div class="media-body topicwise-news-body">
            <div class="topicwise-news-tags">
              <span class="news-topic-title">NEWS</span>
              <span class="news-topic-title-seprater"></span>
              <span class="news-topic-tag">#Forests</span>
              <span class="news-topic-tag">#Water</span>
            </div>  
            <h4 class="mt-0 mb-1 news-headline">Dam decision huge victory</h4>
            <div class="news-write-info">
              <span class="news-author-name">by Author</span>
              <span class="seprater-symbol">/</span>
              <span class="news-date">July 6, 2017</span>
            </div>
            <p class="news-content">Tart liquorice sweet roll pastry croissant toffee mufﬁn tiramisu. 
            Marshmallow tootsie roll sugar plum powder oatcake gingerbread. 
            Cupcake cookie cotton candy chocolate 
            </p>
            </div>
          </li>
          <li class="media topicwise-news-list-itme my-5">
            <img class="d-flex mr-3 topicwise-news-image" src="images/news-second.png" alt="topic wise news image placeholder">
            <div class="media-body topicwise-news-body">
            <div class="topicwise-news-tags">
              <span class="news-topic-title">STORY</span>
              <span class="news-topic-title-seprater"></span>
              <span class="news-topic-tag">#Forests</span>
              <span class="news-topic-tag">#Water</span>
              <span class="news-topic-tag">#News</span>
            </div>  
            <h4 class="mt-0 mb-1 news-headline">100,000 say no to Arctic Oil</h4>
            <div class="news-write-info">
              <span class="news-author-name">by Author</span>
              <span class="seprater-symbol">/</span>
              <span class="news-date">July 6, 2017</span>
            </div>
            <p class="news-content">Tart liquorice sweet roll pastry croissant toffee mufﬁn tiramisu. 
            Marshmallow tootsie roll sugar plum powder oatcake gingerbread. 
            Cupcake cookie cotton candy chocolate 
            </p>
            </div>
          </li>

          <li class="media topicwise-news-list-itme">
            <img class="d-flex mr-3 topicwise-news-image" src="images/news-third.png" alt="topic wise news image placeholder">
            <div class="media-body topicwise-news-body">
            <div class="topicwise-news-tags">
              <span class="news-topic-title">PUBLICATIONS</span>
              <span class="news-topic-title-seprater"></span>
              <span class="news-topic-tag">#Forests</span>
              <span class="news-topic-tag">#Water</span>
            </div>  
            <h4 class="mt-0 mb-1 news-headline">Solar powered community</h4>
            <div class="news-write-info">
              <span class="news-author-name">by Author</span>
              <span class="seprater-symbol">/</span>
              <span class="news-date">July 6, 2017</span>
            </div>
            <p class="news-content">Tart liquorice sweet roll pastry croissant toffee mufﬁn tiramisu. 
            Marshmallow tootsie roll sugar plum powder oatcake gingerbread. 
            Cupcake cookie cotton candy chocolate 
            </p>
            </div>
          </li>
        </ul>
      </div>
    </div> 
  </div>
</div>
*/

.news-section{
	background: #D6E6F2;
	padding-top: 100px; 
	h3{
		color: #152431;
		margin: 0 0 30px 0;
		font-size: 2.375rem;
	}
	.topicwise-news-section{
		.topicwise-news-list{
			.topicwise-news-list-itme{
					.topicwise-news-image{

					}
					.topicwise-news-body{
						h4.news-headline{
							color: #2B092C;
							font-size: 2rem;
						}
						.topicwise-news-tags{
							color: #258CCB;
							.news-topic-title{
								font-size: 1rem;
								font-weight: bold;
								margin-right: 5px;
							}
							.news-topic-title-seprater{
								background: #258CCB;
								width: 5px;
								height: 5px;
								display: inline-block;;
								border-radius: 5px;
								vertical-align: middle;
								margin-right: 5px;
							}
							.news-topic-tag{
								margin-right: 5px;
							}
						}
						.news-write-info{
							font-style: italic;
							margin-bottom: 20px;
						}
					}	
			}
		}
	}
}