/* Header block
 * The main block where a heading subheading and description along with 
 * a CTA button is present
 */

/* HEADER BLOCK HTML
  <div class="page-header col-md-8 col-lg-8 col-sm-12">
    <div class="page-header-background">
      <img src="images/act-header.jpg" class="page-header-image" />
    </div>
    <div class="container">
			<div class="top-tags-wrap">
				<a class="top-tag top-tag--category" href="#">Forests</a>
				<a class="top-tag top-tag--hashtag" href="#">#Wetlands</a>
			</div>
    	<h1 class="page-header-title">What you do matters</h1>
      	<h3 class="page-header-subtitle">A billion acts of courage can spark a brighter tomorrow.</h3>
      	<p class="page-header-content">Tart liquorice sweet roll pastry croissant toffee mufﬁn tiramisu. Marshmallow tootsie roll sugar plum powder oatcake ginger bread. Cupcake cookie cotton candy chocolate cake oat ice sweet roll pastry croissant toffee mufﬁn tiramisu. </p>
    	<div class="row">
     	 <div class="col-md-4">
     	 <a href="#" class="btn btn-medium btn-primary page-header-btn">Take action</a>
      </div>
    </div>
  </div> <!-- Page Header block ends -->
*/

.page-header {
	color: $white;
	padding: 50px 0;
	position: relative;
}

.page-header-background {
	position: absolute;
	z-index: 0;
	top: 0;

	&:after {
		content: "";
		display: block;
		position: absolute;
		z-index: 0;
		height: 75%;
		bottom: -.5%;
		left: 0;
		right: 0;
		@include linear-gradient( 360deg, $body-bg 0%, transparent 100% );

		.brown-bg & {
			@include linear-gradient( 360deg, $brown-bg 0%, transparent 100% );
		}
	}
}

.page-header-image {
	max-width: 100%;
}

.top-page-tags {
	font-size: rem(14);
}

.top-tag {
	color: $yellow;
	font-weight: 300;

	&:after {
		content: "\2022";
		padding: 0 10px;
		pointer-events: none;
	}

	&:last-of-type:after {
		display: none;
	}
}

.top-tag--category {
	text-transform: uppercase;
	font-weight: 400;
}

.page-header-title {
	font-size: rem(40);
	max-width: 80%;
	margin-bottom: 0;
}

.page-header-subtitle {
	font-size: rem(22);
	line-height: 1.4;
	font-weight: 300;
	max-width: 80%;
	margin: 20px 0;
}

.page-header-btn {
	display: block;
	width: 100%;
}

.page-header-content {
	font-size: rem(17);
}