$search-grey:  $grey-60;
$search-blue:  $blue-elm;
$search-black: $black;

.search-block {
  padding-top: 64px;
  background: #ECF0F6;
  .without-search-result {
    margin-top: 120px;
    .search-help-info {
      font-size: rem(22);
      font-family: $lora;
      color: $search-grey;
      line-height: 40px;
      margin-bottom: 40px;
      padding-left: 50px;
    }

  }
  .search-result {
    margin-top: 120px;

  }
  .result-statement {
    font-size: rem(66);
    margin-bottom: 40px;
  }

  .search-filter-results {
    margin-top: 104px;
    .result-area {
      .sort-filter {
        label {
          font-size: rem(28);
          font-weight: bold;
        }
        select {
          height: 44px;
          width: 270px;
          font-size: rem(22);
          padding: 0 10px;
          border-radius: 6px;
          border-color: #6E98BB;
          background: #F1F4F8;
        }
        div {
          margin-top: -7px;
        }
      }
      .search-result-list {
        height: 208px;
      }
    }
  }
}


// Small devices (landscape phones, 576px and up)
@include mobile-only {
  .search-block {
    padding-top: 56px;
    .without-search-result {
      margin-top: 48px;
      .search-help-info {
        font-size: rem(16);
        line-height: 28px;
        margin-bottom: 24px;
        padding-left: 20px;
      }
    }
    .search-result {
      margin-top: 0;
    }  
    .result-statement {
      font-size: rem(28);
      margin-bottom: 8px;
    }

    .search-filter-results {
      margin-top: 48px;

      .result-area {
        .sort-filter {
          width: 50%;
          float: right;
          label {
            font-size: rem(18);
            font-weight: bold;
            margin-right: 90px;
          }
          select {
            height: 40px;
            width: 151px;
            font-size: rem(16);
            padding: 0 10px;
          }
          div {
            margin-top: -7px;
            text-align: right;
          }
        }
        .search-result-list {
          height: 150px;
        }
      }
    }  
  }
}

// Medium devices (tablets, 768px and up)
@include medium-and-up {
  .search-block {
    padding-top: 64px;
    .without-search-result {
      margin-top: 0;
      .search-help-info {
        font-size: rem(18);
        line-height: 33px;
        margin-bottom: 32px;
        padding-left: 20px;
      }

    }    
    .search-result {
      margin-top: 0;

    }
    .result-statement {
      font-size: rem(48);
      margin-bottom: 24px;
    }

    .search-filter-results {
      margin-top: 104px;

      .result-area {
        .sort-filter {
          label {
            font-size: rem(18);
            font-weight: bold;
          }
          select {
            height: 40px;
            width: 210px;
            font-size: rem(16);
            padding: 0 10px;
          }
          div {
            margin-top: -7px;
          }
        }
        .search-result-list {
          height: 120px;
        }
      }
    }  
  }
}

@include large-and-up {
  .search-block {
    .without-search-result {
      margin-top: 94px;
      .search-help-info {
        font-size: rem(20);
        line-height: 34px;
        margin-bottom: 45px;
        padding-left: 30px;
      }

    }
    .result-statement {
      font-size: rem(56);
      margin-bottom: 30px;
    }

    .search-filter-results {
      .result-area {
        .sort-filter {
          label {
            font-size: rem(26);
          }
          select {
            height: 44px;
            width: 224px;
            font-size: rem(20);
          }

        }
        .search-result-list {
          height: 235px;
        }
      }
    }  
  }
}

@include x-large-and-up {
  .search-block {
    .without-search-result {
      margin-top: 120px;
      .search-help-info {
        font-size: rem(22);
        line-height: 40px;
        margin-bottom: 40px;
        padding-left: 50px;
      }
    }
    .search-result {
      margin-top: 120px;

    }
    .result-statement {
      font-size: rem(66);
      margin-bottom: 40px;
    }
    .search-info {
      font-size: rem(32);
    }
    .search-filter-results {

      .result-area {
        .sort-filter {
          label {
            font-size: rem(28);
          }
          select {
            width: 270px;
            font-size: rem(22);
          }
        }
        .search-result-list {
          height: 208px;
        }
      }
    }  
  }
}