.split-two-column {
  background: $black;
  color: $white;
  padding: 2em;
  height: 616px;
  display: flex;
  position: relative;
  overflow: hidden;
  .split-two-column-skewed-right,
  .split-two-column-skewed-left {
    top: 0;
    height: 100%;
    width: 75%;
    position: absolute;
    overflow: hidden;
    transform: skew(30deg, 0deg);
    .unskewed--left,
    .unskewed--right {
      height: 100%;
      width: 100%;
      position: absolute;
      background-size: cover;
      background-position: center;
      transform: skew(-30deg, 0deg);
    }
    .part-right, .part-left {
      transform: skew(-30deg, 0deg);
      position: absolute;
      top: 0;
      z-index: 1;
      width: 40%;
    }
  }
  .split-two-column-skewed-left {
    left: -33%;
    .unskewed--left {
      background-image: url(images/GP04JE6.jpg);
      left: 24%;
    }
    .part-left{
      right: 0;
      margin: 92px 0 0 166px;
      h2 {
        font-size: rem(66);
        margin-bottom: 54px;
      }
      h5 {
        font-size: rem(22);
        line-height: 2.2rem;
        font-weight: normal;
        margin-bottom: 48px;
      }
      a {
        font-size: rem(22);
        color: $yellow-button;
        text-decoration: underline;
        font-weight: bold;
      }
    }
  }

  .split-two-column-skewed-right {
    right: -17%;
    .unskewed--right {
      background-image: url(images/GP028BP.jpg);
      right: 0;
      left: 20%;
    }
    .part-right {
      left: 0;
      margin-left: 160px;
      margin-top: 215px;
      h5 {
        line-height: 2.2rem;
        margin-bottom: 40px;
        font-weight: normal;
      }
      a {
        color: $brown-bg-tags-text;
        font-size: rem(38);
        font-weight: bold;
        text-decoration: none;
        margin-bottom: 20px;
        display: block;
      }
    }
  }
}

// Small devices (landscape phones, 576px and up)
@include mobile-only {
  .split-two-column-mobile-view {
    ul { 
      margin-top: 105px;
      li {
        display: block;
        width: 100%;
        height: 105px;
        margin-bottom: 2px;
        position: relative;
        &.list-one-item {
          @include background('images/GP04JE6.jpg');
        }
        a {
          font-size: rem(36);
          display: block;
          padding: 25px 15px;  
          color: $white;
          text-decoration: none;
          &:after {
            font-family: 'greenpeace-icon';
            content: '\e901';    
            height: 20px;
            width: 20px;
            position: absolute;
            color: $yellow-button;
            top: 0;
            right: 0;
            margin: 30px;
          }
        }
      }
    }  
  }
}

// Medium devices (tablets, 768px and up)
@include medium-and-up {
  .split-two-column {
    height: 430px;
    .split-two-column-skewed-left {
      .part-left{
        width: 51%;
        margin: 64px -8px 0 0;
        h2 {
          font-size: rem(48);
          margin-bottom: 72px;
        }
        h5 {
          font-size: rem(18);
          line-height: 2rem;
          margin-bottom: 10px;
        }
        a {
          font-size: rem(18);
          line-height: 2rem;
        }
      }
    }
    .split-two-column-skewed-right {
      right: -17%;
      .unskewed--right {
        left: -20%;
      }
      .part-right {
        width: 53%;
        margin-left: 120px;
        margin-top: 185px;
        h5 {
          font-size: rem(18);
          line-height: 2rem;
          margin-bottom: 10px;
        }
        a {
          font-size: rem(28);
          margin-bottom: 40px;
        }
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@include medium-large-and-up {
  .split-two-column {
    height: 440px;
    .split-two-column-skewed-left {
      .part-left{
        width: 40%;
        margin: 72px 73px 0 0;
        h2 {
          font-size: rem(56);
          margin-bottom: 72px;
        }
        h5 {
          font-size: rem(18);
          line-height: 2rem;
          margin-bottom: 0;
        }
        a {
          font-size: rem(18);
          line-height: 2rem;
        }
      }
    }
    .split-two-column-skewed-right {
      right: -17%;
      .unskewed--right {
        left: -20%;
      }
      .part-right {
        width: 45%;
        margin-left: 140px;
        margin-top: 135px;
        h5 {
          font-size: rem(18);
          line-height: 2rem;
          margin-bottom: 10px;
        }
        a {
          font-size: rem(40);
          margin-bottom: 20px;
        }
      }
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@include large-large-and-up {
  .split-two-column {
    height: 616px;
    .split-two-column-skewed-left {
      .part-left{
        margin: 92px 0 0 166px;
        h2 {
          font-size: rem(66);
          margin-bottom: 54px;
        }
        h5 {
          font-size: rem(22);
          line-height: 2.2rem;
          margin-bottom: 48px;
        }
        a {
          font-size: rem(22);
          line-height: 2.2rem;
        }
      }
    }
    .split-two-column-skewed-right {
      right: -17%;
      .unskewed--right {
        left: -20%;
      }
      .part-right {
        margin-left: 160px;
        margin-top: 215px;
        h5 {
          font-size: rem(22);
          line-height: 2.2rem;
          margin-bottom: 40px;
        }
        a {
          font-size: rem(38);
          margin-bottom: 20px;
        }
      }
    }
  }
}












