.four-column {
  color: $deep-sea-green;
  margin: 40px 0;

  @include medium-and-up {
    margin: 60px 0;
  }

  h2 {
    font-size: rem(30);
    line-height: 1.2;
    text-align: center;
    margin: 60px 0 35px 0;

    @include medium-and-up {
      font-size: rem(38);
      margin-top: 74px;
      margin-bottom: 57px;
    }

    @include large-and-up {
      text-align: left;
      font-size: rem(48);
      margin-top: 84px;
      margin-bottom: 66px;
    }

    @include x-large-and-up {
      font-size: rem(56);
      margin-top: 104px;
      margin-bottom: 80px;
    }
  }

  a {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
  }
}

.four-column-wrap {
  margin-bottom: 40px;

  @include medium-and-up {
    margin-bottom: 54px;
  }

  @include large-and-up {
    margin-bottom: 0;
  }
}

.four-column-symbol {
  display: block;
  margin: auto auto 16px;

  @include medium-and-up {
    margin-left: 0;
    margin-bottom: 32px;
  }

  @include x-large-and-up {
    margin-bottom: 56px;
  }
}

.four-column-information {
  float: left;

  h5 {
    text-align: center;
    font-size : rem(22);
    line-height : normal;
    font-weight: 500;
    margin-bottom: 24px;

    @include medium-and-up {
      text-align: left;
      margin-bottom: 16px;
    }

    @include x-large-and-up {
      margin-bottom: 32px;
    }
  }

  p {
    font-size: rem(15);
    line-height: 1.6;
    color: $grey-80;

    @include medium-and-up {
      margin-bottom: 24px;
    }

    @include x-large-and-up {
      font-size: rem(16);
      margin-bottom: 48px;
    }
  }

  a:hover {
    text-decoration: underline;
  }
}
