.four-coloum {
  h2 {
    font-size: rem(30);
    color: $steps-deactive-text;
    line-height: 36px;
    text-align: center;
    margin: 60px 0 35px 0;
  }
  .four-coloum-wrap {
    margin-bottom: 35px;
    .four-coloum-symbol {
      text-align: center;
      margin-bottom: 16px;
    }
    .four-coloum-info {
      h5 {
        text-align: center;
        font-size : rem(22);
        line-height : normal;
        font-weight: 500;
        color : $steps-deactive-text;
        margin-bottom: 24px;
      }
      p {
        color: $dark-shade-black;
        font-size: rem(15);
        line-height: 25px;
      }
      
      .blue-button { 
        width: 100%; 
      }
      .four-coloum-information {
        float: left;
        min-height: 230px;
        a { 
          text-decoration: none; 
          color: $blue-text;
        }
        a:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

@media screen and (max-width: $medium-width) {
  .four-coloum {
    .row {
      padding-bottom: 25px; 
    }
  }
}

@include small-and-up {
  .four-coloum {
    h2 {
      text-align: center; 
      font-size: rem(29);
    }
    .four-coloum-wrap {
      .four-coloum-symbol {
        text-align: left;
      }
      .four-coloum-info {  
        h5 {
          text-align: center;
        }
        .four-coloum-information {
          min-height: 320px;
        }
      }
    }
  }
}  

// Medium devices (tablets, 768px and up)
@include medium-and-up {
  .four-coloum {
    h2 {
      text-align: center; 
      font-size: rem(43);
      line-height: 53px;
      margin-top: 74px;
      margin-bottom: 57px;
    }
    .four-coloum-wrap {
      margin-bottom: 74px;
      .four-coloum-symbol {
        text-align: left;
        margin-bottom: 32px;
      }
      .four-coloum-info{  
        h5 {
          text-align: left;
          margin-bottom: 40px;
        }
        p {
          margin-bottom: 24px;
        }
        .four-coloum-information {
          min-height: 220px;
        }
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@include medium-large-and-up {
  .four-coloum {
    h2 {
      text-align: left; 
      font-size: rem(48);
      line-height: 56px;
      margin-top: 84px;
      margin-bottom: 66px;
    }
    .four-coloum-wrap {
      margin-bottom: 86px;
      .four-coloum-symbol {
        text-align: left;
        margin-bottom: 32px;
      }
      .four-coloum-info {
        h5 {
        text-align: left;
          margin-bottom: 16px;
        }
        p {
          margin-bottom: 24px;
        }
        .four-coloum-information {
          min-height: 220px;
        }
      }
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@include large-large-and-up {
  .four-coloum {
    h2 {
      text-align: left; 
      font-size: rem(56);
      line-height: 68px;
      margin-top: 104px;
      margin-bottom: 80px;
    }
    .four-coloum-wrap {
      margin-bottom: 104px;
      .four-coloum-symbol {
        text-align: left;
        margin-bottom: 56px;
      }
      .four-coloum-info {  
        h5 {
          text-align: left;
          margin-bottom: 32px;
        }
        p {
          margin-bottom: 48px;
        }
        .four-coloum-information {
          min-height: 220px;
        }
      }
    }
  }
}
