.four-coloum {
  padding-top: 59px;
  padding-bottom: 59px;
  h2 {
    font-size: rem(30);
    color: $four-column-heading;
    line-height: 36px;
    text-align: center;
    margin-bottom: 45px;
    font-weight: bold;
  }
  .four-coloum-wrap{
    .four-coloum-symbol {
      text-align: center;
      margin-bottom: 16px;
    }
    .four-coloum-info {
      h5 {
        text-align: center;
        font-size : rem(20);
        line-height : normal;
        font-weight: bold;
        color : $four-column-heading;
        margin-bottom: 17px;
      }
      p, a{
        font-size: rem(15);
        line-height: 25px;
      }
      p {
        color: $dark-shade-black;
      }
      a {
        text-decoration: none;
        margin-top: 30px;
        display: block;
        color: $four-column-heading;
      } 
      a:hover {
        text-decoration: underline; 
      }
      .blue-button { 
        width: 100%; 
      }
      .four-coloum-information {
        float: left;
        min-height: 230px;
      }
    }
  }
}

@include small-and-up {
  .four-coloum {
    padding-top: 59px;
    padding-bottom: 59px;
    h2 {
      font-size: rem(30);
      line-height: 36px;
      text-align: center;
      margin-bottom: 45px;
    }
    .four-coloum-wrap{
      .four-coloum-symbol {
        text-align: center;
        margin-bottom: 16px;
      }
      .four-coloum-info {
        h5 {
          text-align: center;
          font-size : rem(20);
          line-height : normal;
          margin-bottom: 17px;
        }
        p, a{
          font-size: rem(15);
          line-height: 25px;
        }
        a {
          font-size: rem(15);
          margin-top: 30px;
        }
        .blue-button { 
          width: 100%; 
        }
        .four-coloum-information {
          float: left;
          min-height: 230px;
        }
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@include medium-and-up {
  .four-coloum {
    padding-top: 52px;
    padding-bottom: 0;
    h2{
      text-align: center; 
      font-size: rem(43);
      line-height: 53px;
      margin-top: 0;
      margin-bottom: 57px;
      }
      .four-coloum-wrap{
        margin-bottom: 74px;
        .four-coloum-symbol{
          text-align: left;
          margin-bottom: 40px;
          margin-left: -24px;
        }
        .four-coloum-info{  
          h5 {
            text-align: left;
            margin-bottom: 22px;
            font-size : rem(22);
          }
          p {
            margin-bottom: 28px;
            font-size: rem(16);
          }
          a {
            font-size: rem(16);
          }
        .four-coloum-information {
          min-height: 220px;
        }
      }
    }
  }
}
// Large devices (desktops, 992px and up)
@include medium-large-and-up {
  .four-coloum {
    padding-top: 84px;
    padding-bottom: 0;
    h2{
      text-align: left; 
      font-size: rem(48);
      line-height: 56px;
      margin-top: 0;
      margin-bottom: 57px;
      }
      .four-coloum-wrap{
        margin-bottom: 86px;
        .four-coloum-symbol{
          text-align: left;
          margin-bottom: 46px;
          margin-left: -24px;
        }
        .four-coloum-info{  
         h5 {
          text-align: left;
          margin-bottom: 27px;
          font-size: rem(24);
         }
         p {
          margin-bottom: 32px;
          font-size: rem(17);
         } 
         a {
          font-size: rem(17);
         }
        .four-coloum-information {
          min-height: 220px;
        }
      }
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@include large-large-and-up {
  .four-coloum {
    padding-top: 105px;
    h2{
      text-align: left; 
      font-size: rem(56);
      line-height: 68px;
      margin-top: 0;
      margin-bottom: 80px;
      }
      .four-coloum-wrap{
        margin-bottom: 104px;
        .four-coloum-symbol{
          text-align: left;
          margin-bottom: 56px;
          margin-left: -24px;
        }
        .four-coloum-info{  
         h5 {
          text-align: left;
          margin-bottom: 32px;
          font-size: rem(26);
         }
         p {
          margin-bottom: 48px;
          font-size: rem(17);
         }
         a {
           font-size: rem(17);
         }
        .four-coloum-information {
          min-height: 220px;
        }
      }
    }
  }
}
