/*<!-- Subheader Start -->*/

/*  <div class="subheader">
    <div class="container">
      <h2>Get involved with Greenpeace</h2>
      <p>Tart liquorice sweet roll pastry croissant toffee mufﬁn tiramisu. Marshmallow tootsie roll sugar plum powder oatcake ginger bread. Cupcake cookie</p>
    </div>
  </div>*/

/*  <!-- Subheader End -->*/

/* CSS for subheader */

// Small devices (landscape phones, 576px and up)
@include mobile-only {
	.subheader {
		padding: 48px 0 32px 0; 
		h2 {
			font-size: rem(26);
			margin-bottom: 32px;
		}
		p {
			font-size: rem(16);
			line-height: 1.5rem;
		}
	}
}

// Medium devices (tablets, 768px and up)
@include medium-and-up {
	.subheader {
		padding: 72px 0 48px 0; 
		h2 {
			font-size: rem(34);
			margin-bottom: 24px;
		}
		p {
			font-size: rem(20);
			line-height: 1.625rem;
		}
	}
}

// Large devices (desktops, 992px and up)
@include medium-large-and-up {
	.subheader {
		padding: 104px 0 40px 0; 
		h2 {
			font-size: rem(36);
			margin-bottom: 40px;
		}
		p {
			font-size: rem(20);
			line-height: 1.625rem;
		}
	}
}
  
// Extra large devices (large desktops, 1200px and up)
@include large-large-and-up {
  	.subheader {
		padding: 104px 0 72px 0; 
		h2 {
			font-size: rem(38);
			margin-bottom: 40px;
		}
		p {
			font-size: rem(22);
			line-height: 1.625rem;
		}
	}
}