 /*Tag Cloud Start */
/*<div class="container">
  <div class="tag-cloud">
    <div class="tag-cloud-title">
      <h2>Tag Cloud</h2>
      <div class="tag-cloud-list">
        <a href="#" class="tag-small">#Cows</a>
        <a href="#" class="tag-big">#TagBig</a>
        <a href="#" class="tag-small">#Cows</a>
        <a href="#" class="tag-mid">#Bees</a>
        <a href="#" class="tag-xsmall">#TagSmall</a>
        <a href="#" class="tag-mid">#Bees</a>
        <a href="#" class="tag-big">#GolderRice</a>
        <a href="#" class="tag-small">#Cows</a>
        <a href="#" class="tag-big">#TagBig</a>
        <a href="#" class="tag-xsmall">#Cows</a>
        <a href="#" class="tag-mid">#Bees</a>
        <a href="#" class="tag-small">#TagSmall</a>
        <a href="#" class="tag-mid">#Bees</a>
        <a href="#" class="tag-big">#GolderRice</a>
      </div>
    </div>
  </div>
</div>  */
 /*Tag Cloud End */

.tag-cloud {
  padding-top: 104px;
  .tag-cloud-title {
    h2 {
      color: $purple;
      font-size: rem(32);
    }
    .tag-cloud-list {
      a {
        color: $brown-bg-tags-link;
        text-decoration: none;
        margin-right: 5px;
        &.tag-xsmall {
          font-size: rem(12);
        }
        &.tag-small {
          font-size: rem(16);
        }
        &.tag-mid {
          font-size: rem(24);
        }
        &.tag-big {
          font-size: rem(28);
        }
      }
    }
  }
}