 /*Tag Cloud Start */
/*<div class="container">
  <div class="tag-cloud">
    <div class="tag-cloud-title">
      <h2>Tag Cloud</h2>
      <div class="tag-cloud-list">
        <span class="tag-small">#Cows</span>
        <span class="tag-big">#TagBig</span>
        <span class="tag-small">#Cows</span>
        <span class="tag-mid">#Bees</span>
        <span class="tag-xsmall">#TagSmall</span>
        <span class="tag-mid">#Bees</span>
        <span class="tag-big">#GolderRice</span>
        <span class="tag-small">#Cows</span>
        <span class="tag-big">#TagBig</span>
        <span class="tag-xsmall">#Cows</span>
        <span class="tag-mid">#Bees</span>
        <span class="tag-small">#TagSmall</span>
        <span class="tag-mid">#Bees</span>
        <span class="tag-big">#GolderRice</span>
      </div>
    </div>
  </div>
</div>  */
 /*Tag Cloud End */

.tag-cloud {
  padding-top: 104px;
  color: brown;
  .tag-cloud-title {
    h2 {
      font-size: 2rem;
    }
    .tag-cloud-list {
      span {
        margin-right: 5px;
        &.tag-xsmall {
          font-size: 0.75rem;
        }
        &.tag-small {
          font-size: 1rem;
        }
        &.tag-mid {
          font-size: 1.5rem;
        }
        &.tag-big {
          font-size: 1.75rem;
        }
      }
    }
  }
}