/*
<!-- Video Block Start -->

<div class="container">
  <div class="video-block">
    <h1>Whats at risk</h1>
    <div class="video-section">
      <iframe id="ytplayer" type="text/html" width="100%" height="100%"
      src="https://www.youtube.com/embed/wNN-Yl-SBTM?autoplay=1"
      frameborder="0" allowfullscreen> </iframe>
    </div>  
  </div>
</div>

<!-- Video Block End -->
*/


.video-block {
  padding-top: 104px;
  h1 {
    font-size: rem(40);
    margin-bottom: 64px;
  }
}


// Small devices (landscape phones, 576px and up)
@include mobile-only {
  .video-block {
    padding-top: 72px;
    h1 {
      font-size: rem(26);
      margin-bottom: 40px;
    }
    .video-section {
      height: 240px;
    }
  }
}


// Medium devices (tablets, 768px and up)
@include medium-and-up {
  .video-block {
    padding-top: 104px;
    h1 {
      font-size: rem(34);
      margin-bottom: 48px;
    }
    .video-section {
      height: 400px;
    }
  }
}


// Large devices (desktops, 992px and up)
@include medium-large-and-up {
  .video-block {
    padding-top: 88px;
    h1 {
      font-size: rem(34);
      margin-bottom: 48px;
    }
    .video-section {
      height: 530px;
    }
  }
}


// Extra large devices (large desktops, 1200px and up)
@include large-large-and-up {
  .video-block {
    padding-top: 104px;
    h1 {
      font-size: rem(40);
      margin-bottom: 64px;
    }
    .video-section {
      height: 630px;
    }
  }
}