.video-block {
	padding-top: 80px;
	
	h2 {
		font-size: rem(26);
		margin-bottom: 2rem;
		padding-left: 15px;
		
		@include small-and-up {
			padding-left: 0px;
		}

		@include medium-and-up {
			font-size: rem(34);
		}

		@include medium-large-and-up {
			font-size: rem(38);
		}

		@include large-large-and-up {
			font-size: rem(40);
			margin-bottom: 64px;
		}
	}

	.video-section {
	
		@include small-and-up {
			height: 240px;
		}
	
		@include medium-and-up {
			height: 400px;
		}
	
		@include medium-large-and-up {
			height: 530px;
		}

		@include large-large-and-up {
			height: 630px;
		}
	}

	.container {
		padding-left: 0;
		padding-right: 0;

		@include medium-and-up {
			padding-left: 15px;
			padding-right: 15px;
		}
	}
}
