@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.btn-primary {
  background: #ee562d;
  border-color: #ee562d;
  color: #ffffff;
  text-transform: uppercase;
}

.btn-primary:hover {
  background: #f36038;
  border-color: #ee562d;
}

.btn-secondary {
  background: #86eee7;
  border-color: #86eee7;
  color: #000000;
  text-transform: uppercase;
}

.btn-secondary:hover {
  background: #9af9f3;
  border-color: #86eee7;
}

.yellow-button {
  border-color: #ffb600;
  color: #301c01;
  background: #ffb600;
  text-transform: uppercase;
}
.yellow-button:hover {
  background-color: #fac235;
  border-color: #ffb600;
  color: #301c01;
}

h1 {
  font-size: 40px;
}
