/******************************************************************
Site Name: Planet 4 Master Theme
Author: Ashish Singh(ashish.singh@greenpeace.org)

Stylesheet: Typography

Import a Font or Icons

******************************************************************/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700&subset=latin-ext');

// font stacks
$sans-serif:        "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif:             "Georgia", Cambria, Times New Roman, Times, serif;
$roboto:            "Roboto", sans-serif;
$lora:              "Lora", serif;

/*
some nice typographical defaults
more here: http://www.newnet-soft.com/blog/csstypography
*/
p {
  -ms-word-wrap: break-word;
     word-break: break-word; //non-standart css for webkit
      word-wrap: break-word;
  // cleaning up the ragged lines and breaks
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
          hyphens: auto;
  // sets a minimum number of characters before and after the break
  -webkit-hyphenate-before: 2;
   -webkit-hyphenate-after: 3;
           hyphenate-lines: 3;
  font-family: $lora;           
}

h1, h2 {
  font-weight: bold;
}

h1 {
  letter-spacing: -1.5px;
  @media #{ $mq-xl-up } {
    font-size: rem(66);
    line-height: rem(85.8);
    margin-bottom: rem(48);
  }
}

h2 {
  @media #{ $mq-xl-up } {
    font-size: rem(38);
    line-height: rem(49.4);
    margin-bottom: rem(24);
  }
}
