/******************************************************************
Site Name: Planet4 Master theme
Author: Ashish Singh(ashish.singh@greenpeace.org)

Stylesheet: Variables

Here is where we declare all our variables like colors, fonts,
base values, and defaults.
******************************************************************/

// Colors.
$black:     #000;
$white:     #fff;
$grey:      #333;
$red:       #ad2330;
$yellow:    #FFD204;
$blue:      #2980b9;
$med-blue:  #0A3351;
$dark-blue: #152431;
$purple:    #200721;

// Used colors
$active:                #aed4c7;
$blue-bg-anchor:        #30a7af;
$blue-bg:               #03484f;
$blue-btn-border:       #064364; // Duplicate
$blue-heading:          #004950;
$blue-text:             #12757B;
$border-color:          #07403a;
$brown-bg-tags-text:    $yellow;
$brown-bg:              #FAF7EC;
$card-header-bg:        #c7dcd3;
$carr-arrow:            $med-blue;
$darkb-blue-text:       #264042;
$fixed-nav-bg:          #247670;
$header-footer-bg:      #030403;
$light-blue-bg:         #D6E6F2;
$light-blue:            #67B2AF;
$nav-link:              #a6df20;
$para-text:             #005552;
$percentage-text:       #017e7a;
$primary-button:        #F36D3A;
$primary-button-hover:  #ee562d;
$secondary-button-hover:#9af9f3;
$secondary-button:      #86eee7;
$step-normal-bg:        #E4E7DA;
$steps-deactive-text:   #0A4F45;
$top-nav:               #1e5f65;
$yellow-button-color:   #301c01;
$yellow-button-hover:   #fac235;
$yellow-button:         $yellow;
$light-grey:            #e0ddd4;
$publish-date-grey:     #676767;

// Used once.
$blue-btn:              #0EC2DE;
$body-bg:               #b0d4c8;
$border:                $grey;
$brown-bg-tags-link:    #E88D75;
$container-bg:          #AFD4C7;
$dark-para-text:        #011D1E;
$green-link-hover:      #77dd11;
$heading:               #004d53;
$secondary-button-bg:   #9fd0c8;
$step-number-hover:     #42b3aa;
$step-number:           #dc9509;
$brown-header:          #5C1F10;

// As-of-yet-unused.
$blue-btn-hover:        #064364; // Duplicate
$carousel-active:       #064364; // Duplicate
$greenpeace-dark-green: #264725;
$greenpeace-green:      #7dd667;
$heading-border:        #8db8af;
$heading-sub-text:      #007e7b;
$light-blue-text:       #99CBCA;
$light-border:          #bddac8;
$red-text:              $red;
$tags-text:             #007e7a;
$tags:                  #326a69;

$green-80:    #1b4a1b;
$grey-60:     #666;
$grey-40:     #999;
$grey-20:     #ccc;
$grey-10:     #e5e5e5;
$crimson:     #e51538;
$blue-80:     #3290de;


// Colors to be fixed/addressed:
$article-anchor:        #2B092C;
$article-heading-color:	#152431;
$credit-color:          #5A5A5A;
$search-text-colour:    #115247;
$blue-top-nav:          #074365;
$dark-shade-black:      #1a1a1a;
$carousel-indi-color:   #8BCC49;
$shadow-color:          #666666;
$article-tag:           #3290de;
$four-column-heading:   #186A70;
$hover-nav:             #052A30;
$tag-color:             #258CCB;

// Media queries
$small-width: 575px;
$medium-width: 768px;
$medium-large-width: 992px;
$large-width: 1024px;
$large-large-width: 1200px;
$extra-large-width: 1500px;
