/******************************************************************
Site Name: Planet4 Master theme
Author: Ashish Singh(ashish.singh@greenpeace.org)

Stylesheet: Variables

Here is where we declare all our variables like colors, fonts,
base values, and defaults.
******************************************************************/

$active: #aed4c7;
$black: #000000;
$blue-bg-anchor: #30a7af;
$blue-bg: #03484f;
$blue-btn-border: #064364;
$blue-btn-hover: #064364;
$blue-btn: #0EC2DE;
$blue-heading: #004D51;
$blue-text: #12757B;
$blue: #2980b9;
$body-bg: #b0d4c8;
$border-color: #07403a;
$border: #333333;
$brown-bg-tags-link: #E88D75;
$brown-bg-tags-text: #FFD204;
$brown-bg: #FAF7EC;
$card-header-bg: #c7dcd3;
$carousel-active: #064364;
$carr-arrow: #0a3351;
$container-bg: #AFD4C7;
$darkb-blue-text: #264042;
$dark-para-text: #011D1E;
$fixed-nav-bg: #247670;
$green-link-hover: #77dd11;
$greenpeace-dark-green: #264725;
$greenpeace-green: #7dd667;
$header-footer-bg: #030403;
$heading-border: #8db8af;
$heading-sub-text: #007e7b;
$heading: #004d53;
$light-blue-text: #99CBCA;
$light-blue: #67B2AF;
$light-border: #bddac8;
$nav-link: #a6df20;
$para-text: #005552;
$percentage-text: #017e7a;
$primary-button-hover: #e02d00;
$primary-button: #F36D3A;
$red-text: #ad2330;
$secondary-button-bg: #9fd0c8;
$secondary-button-hover:#9af9f3;
$secondary-button: #86eee7;
$step-normal-bg: #E4E7DA;
$step-number-hover: #42b3aa;
$step-number: #dc9509;
$steps-deactive-text: #06747A;
$tags-text: #007e7a;
$tags: #326a69;
$top-nav: #1e5f65;
$top-tags: #ff0000;
$white: #ffffff;
$yellow-button-color: #301c01;
$yellow-button-hover: #fac235;
$yellow-button: #FFD204;

// Media queries
$mq-sm-up:   "screen and ( min-width: 575px )" !default;
$mq-md-up:   "screen and ( min-width: 768px )" !default;
$mq-lg-up:   "screen and ( min-width: 992px )" !default;
$mq-xl-up:   "screen and ( min-width: 100px )" !default;
