/******************************************************************
Site Name: Planet4 Master theme
Author: Ashish Singh(ashish.singh@greenpeace.org)

Stylesheet: Variables

Here is where we declare all our variables like colors, fonts,
base values, and defaults.
******************************************************************/

$body-bg:               #b0d4c8;
$top-nav:               #1e5f65;
$greenpeace-green:      #7dd667;
$greenpeace-dark-green: #264725;
$white:                 #ffffff;
$blue:                  #2980b9;
$blue-heading:          #00494f;
$primary-button:        #ff3e00;
$primary-button-hover:  #e02d00;
$secondary-button:      #86eee7;
$secondary-button-bg:   #9fd0c8;
$secondary-button-hover:#9af9f3;
$black:                 #000000;
$yellow-button:         #ffb600;
$yellow-button-hover:   #fac235;
$yellow-button-color:   #301c01;
$nav-link:              #a6df20;
$tags:                  #326a69;
$tags-text:             #007e7a;
$heading:               #004d53;
$border:                #333333;
$heading-border:        #8db8af;
$heading-sub-text:      #007e7b;
$para-text:             #005552;
$red-text:              #ad2330;
$percentage-text:       #017e7a;
$active:                #aed4c7;
$light-border:          #bddac8;
$blue-bg:               #03484f;
$blue-bg-anchor:        #30a7af;
$green-link-hover:      #77dd11;
$border-color:          #07403a;
$container-bg:          #AFD4C7;
$darkb-blue-text:       #264042;
$blue-text:             #12757B;
$light-blue:            #67B2AF;
$light-blue-text:       #99CBCA;
$steps-deactive-text:   #06747A;
$blue-heading:          #004950;
$step-normal-bg:        #E4E7DA;
$fixed-nav-bg:          #247670;
$carousel-active:		#064364;
$card-header-bg:		#c7dcd3;
$step-number:			#dc9509;
$step-number-hover:		#42b3aa;
$carr-arrow:			#0a3351;
$blue-btn:				#0EC2DE;
$blue-btn-border:		#064364;
$blue-btn-hover:		#064364;
$brown-bg:				#FAF7EC;
$header-footer-bg:		#030403;
$brown-bg-tags-text:	#FFD204;