/******************************************************************
Site Name: Planet4 Master theme
Author: Ashish Singh(ashish.singh@greepeace.org)

Stylesheet: Button Styles
******************************************************************/

%btn {
  display: inline-block;
  position: relative;
  font-family: $roboto;
  text-decoration: none;
  color: $white;
  font-size: 0.9em;
  font-size: 34px;
  line-height: 34px;
  font-weight: normal;
  padding: 0 24px;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  @include transition(background-color 0.14s ease-in-out);

  // hovering on the btn
  &:hover, &:focus {
    color: $white;
    text-decoration: none;
    outline: none;
  } // end hover

  // clicking on the button
  &:active {
    top: 1px; // adds a tiny hop to the click
  } // end active

} // end .button

/*
 * Primary Call to action button
 */
.primary-cta-btn {
  @extend %btn; // here we load the btn defaults
  background-color: $blue;

  &:hover,
  &:focus {
    background-color: darken($blue, 4%);
  } // end hover

  &:active {
    background-color: darken($blue, 5%);
  } // end active

} // end primary-cta-button

.btn-primary {
  background: $primary-button;
  border-color: $primary-button;
  color: $white;
  text-transform: uppercase;
}

.btn-primary:hover {
  background: $primary-button-hover;
  border-color: $primary-button-hover;
}

.btn-secondary {
  background: $secondary-button;
  border-color: $secondary-button;
  color: $black;
  text-transform: uppercase;
}

.btn-secondary:hover {
  background: $secondary-button-hover;
  border-color: $secondary-button-hover;
}

.yellow-button {
  border-color: $yellow-button;
  color: $yellow-button-color;
  background: $yellow-button;
  text-transform: uppercase;
}
.yellow-button:hover {
  background-color: $yellow-button-hover;
  border-color: $yellow-button;
  color: $yellow-button-color;
}

.btn-green {
  background: #65cb00;
  color: $white;
}
.btn-blue {
  background: $blue-btn;
  border: solid 1px $blue-btn-border;
  color: $blue-btn-border;
}
.btn-blue:hover {
  background-color: $blue-btn-border;
  color: $white;
}

.styled-select {
  select {
    background: transparent;
    padding: 5px;
    font-size: 16px;
    color: $white;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 34px;
    -webkit-appearance: none;
    width: 240px;
    option {
      background: transparent;
      color: $black;
    }
    &:focus {
      outline: none;
    }
  }
}

.secondary-button {
  background: $secondary-button-bg;
  color: #0A3351;
  border: solid 1px #0A3351;
  text-transform: uppercase;
  font-weight: 500;
  &:hover {
    background: #0A3351;
    color: $white;
  }
  &:focus {
    outline: none;
    box-shadow: none;
  }
  &:active {
    background: #3B5C74;
  }
}
.btn-transparent {
  background: transparent;
  color: #0A3351;
  border: solid 1px #0A3351;
  text-transform: uppercase;
  font-weight: 500;
  &:hover {
    background: #0A3351;
    color: $white;
  }
  &:focus {
    outline: none;
    box-shadow: none;
  }
  &:active {
    background: #3B5C74;
  }
}
.btn-normal {
  height: 40px;
  line-height: 40px;
  font-size: rem(14);
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}
.btn-light-blue {
  background: #ADDBEA;
  color: #144363;
  border: 1px solid #144363;
  &:hover {
    background: #B2E1ED;
  }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 575px) {
  .btn {
    padding: 0 15px;
    &.btn-small {
      font-size: 14px;
      height: 40px;
      line-height: 40px;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .btn {
    padding: 0 15px;
    &.btn-medium {
      font-size: 16px;
      height: 48px;
      line-height: 48px;
    }
  }
  .btn-normal {
    height: 48px;
    line-height: 48px;
    font-size: rem(16);
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .btn {
    padding: 0 15px;
    &.btn-medium {
      font-size: 16px;
      height: 48px;
      line-height: 48px;
    }
  }
  .btn-normal {
    height: 48px;
    line-height: 48px;
    font-size: rem(18);
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .btn {
    padding: 0 15px;
    &.btn-medium {
      font-size: 18px;
      height: 56px;
      line-height: 56px;
    }

    &.btn-primary, &.yellow-button {
      line-height: rem(50);
      padding: 0 50px;
    }

    &.secondary-button {
      padding: 0 30px;
    }
  }
  .btn-normal {
    height: 52px;
    line-height: 52px;
    font-size: rem(18);
  }
}
