/******************************************************************
Site Name: Planet4 Master theme
Author: Ashish Singh(ashish.singh@greepeace.org)

Stylesheet: Button Styles
******************************************************************/

.btn {
  display: inline-block;
  position: relative;
  font-family: $roboto;
  text-decoration: none;
  text-transform: uppercase;
  color: $white;
  font-weight: 500;
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
  line-height: 3;
  padding: 0 3em;
  appearance: none;
  // `all` here is not the most performant, but we really do want to modify all of the color/opacity attributes.
  transition: all 150ms linear;

  &:hover,
  &:focus {
    color: $white;
    text-decoration: none;
    outline: none;
  }

  &:disabled {
    opacity: .5;
  }
}

.btn-small {
  font-size: rem(14);
  line-height: 2.8;
}

.btn-medium {
  font-size: rem(16);
  line-height: 3;
}

.btn-large {
  font-size: rem(18);
  line-height: 3.1;
}

/**
 * Primary, orange button.
 */
.btn-primary {
  background-color: $orange;

  &:hover,
  &:focus {
    background-color: $orange-hover;
  }

  &:active {
    background-color: $dark-copper;
  }
}

/**
 * Secondary, semi-transparent button. Most buttons are this button.
 */
.btn-secondary {
  background-color: transparentize($white, .8);
  border-color: $dark-blue;
  color: $dark-blue;
  box-shadow: none;

  &:hover,
  &:focus {
    background-color: $dark-blue;
  }

  &:active {
    background-color: $x-dark-blue;
  }
}

/**
 * Similar to the primary button, but transparent by default.
 */
.btn-action {
  background-color: transparentize($white, .8);
  border-color: $white;

  &:hover,
  &:focus {
    background-color: $orange;
  }

  &:active {
    background-color: $orange-hover;
  }
}

/**
 * Donate button used in the navbar.
 */
.btn-donate {
  background-color: $aquamarine;
  color: $grey;
  font-size: rem(16);
  line-height: 2.25;

  &:hover,
  &:focus {
    background-color: $spray;
    color: $black;
  }

  &:active {
    background-color: $java-dark;
  }

  @include large-and-up {
    font-size: rem(18);
  }
}
