.page-explore-page {

	#header.top-navigation {
		background: $black;
	}

	.page-header-subtitle {
		text-shadow: 0 2px 3px rgba(0, 0, 0, 0.85);
	}

	.page-header-content {
		margin-bottom: 5rem;
		text-shadow: 0 2px 3px rgba(0, 0, 0, 0.85);
	}

	.page-header-btn {
		margin-bottom: 4rem;
	}

	.main-content-intro {
		color: $black;
		h2 {
			margin-bottom: 1.5rem;
		}
		p {
			font-size: rem(17);
			margin-bottom: 3rem;
			@include small-and-up {
				font-size: rem(19);
			}

			@include medium-large-and-up {
				font-size: rem(20);
			}

			@include large-large-and-up {
				font-size: rem(22);
			}
		}

		@include small-and-up {
			color: $white;
		}
	}
}
