.hero-img-wrap {
  background-image: url("images/clouds_1140.png");
  background-repeat: no-repeat;
  background-position: center;
}

.page-content-wrap {
  padding-top: 100px;
  .fixed-element {
    -webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
    h1 {
      color: $blue-heading;
    }
    &.sticky {
      position: fixed;
      font-size: rem(24);
      width: 100%;
      text-align: left;
      z-index: 500;
      top: 0;
      background: $fixed-nav-bg;
      opacity: 0.95;
      padding: 5px 0;
      h1 {
        display: inline-block;
        font-size: rem(35);
        color: $white;
      }
      .top-tags-wrap {
        span {
          color: $white;
          display: none;
        }
      }
    }
  }
  .top-tags-wrap {
    font-size: rem(14);
    line-height: rem(16.8);
    color: $blue-heading;

    @include medium-and-up {
      font-size: rem(16);
      line-height: rem(22);
    }

    @include large-and-up {
      font-size: rem(18);
      line-height: rem(22);
    }

    @include x-large-and-up {
      font-size: rem(20);
      line-height: rem(26);
    }

    .category-topic-title {
      font-weight: bold;
      margin-right: 5px;
    }
    .category-topic-title-seprater {
      background: $percentage-text;
      width: 5px;
      height: 5px;
      display: inline-block;
      border-radius: 5px;
      vertical-align: middle;
      margin-right: 5px;
    }
  }
  .about-info {
    h2 {
      margin-top: 30px;
      color: $blue-heading;
    }
    p {
      font-size: rem(17);
      line-height: rem(28.9);

      @include medium-and-up {
        font-size: rem(19);
        line-height: rem(33);
      }

      @include large-and-up {
        font-size: rem(20);
        line-height: rem(34);
      }

      @include x-large-and-up {
        font-size: rem(22);
        line-height: rem(38);
      }
    }
  }
  .home-page-carousel-wrap {
    .carousel-caption {
      text-align: left;
      left: auto;
      bottom: 0;
      right: 0;
      width: 100%;
      padding: 30px 200px 30px 50px;
      background: -moz-linear-gradient(66.31% -110.5% -120deg, rgba(10, 51, 81, 0) 0%, rgba(10, 51, 81, 1) 100%);
      background: -webkit-linear-gradient(-120deg, rgba(10, 51, 81, 0) 0%, rgba(10, 51, 81, 1) 100%);
      background: -webkit-gradient(linear, 66.31% -110.5%, 33.69% 210.5%, color-stop(0, rgba(10, 51, 81, 0)), color-stop(1, rgba(10, 51, 81, 1)));
      background: -o-linear-gradient(-120deg, rgba(10, 51, 81, 0) 0%, rgba(10, 51, 81, 1) 100%);
      background: -ms-linear-gradient(-120deg, rgba(10, 51, 81, 0) 0%, rgba(10, 51, 81, 1) 100%);
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#0A3351', endColorstr='#0A3351' ,GradientType=0)";
      background: linear-gradient(210deg, rgba(10, 51, 81, 0) 0%, rgba(10, 51, 81, 1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0A3351', endColorstr='#0A3351', GradientType=1);
    }
    .carousel-indicators {
      right: 0;
      bottom: 30px;
      left: auto;
      margin-right: 5%;
      li {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: $white;
        margin: 0 15px;
        cursor: pointer;
        &.active {
          background: $carousel-active;
        }
      }
    }
    .carousel-control-prev,
    .carousel-control-next {
      opacity: 1;
      .carousel-control-prev-icon,
      .carousel-control-next-icon {
        background-image: none;
        border: solid 1px $white;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        display: block;
        text-align: center;
        background-color: $carr-arrow;
        opacity: 0.4;
        i {
          background: url("images/sprite.png");
          height: 32px;
          width: 22px;
          vertical-align: middle;
          display: inline-block;
          margin: 6px 2px 0 0;
        }
      }
      .carousel-control-next-icon {
        i {
          background-position: -21px 1px;
        }
      }
    }
  }
}

.what-you-can-do-wrapper {
  h2 {
    padding: 50px 0 0;
    color: $blue-heading;
  }
  .col-md-6 {
    padding-top: 30px;
  }
  p {
    color: $dark-para-text;
    font-size: rem(17);
    line-height: rem(28.9);

    @include medium-and-up {
      font-size: rem(19);
      line-height: rem(33);
    }

    @include large-and-up {
      font-size: rem(20);
      line-height: rem(34);
    }

    @include x-large-and-up {
      font-size: rem(22);
      line-height: rem(38);
    }
  }
}

.can-do-steps {
  .step-info-wrap {
    cursor: pointer;
    margin-top: 35px;
    .step-number {
      float: left;
      display: block;
      margin-right: rem(20);
      width: 74px;
      height: 74px;
      line-height: 74px;
      text-align: center;
      font-size: rem(44);
      background: $step-normal-bg;
      border-radius: 50%;
      color: $active;
      text-transform: uppercase;
      font-weight: 500;
    }

    .step-info {
      h5 {
        font-size: rem(15);
        line-height: rem(19.5);
        font-weight: 700;
        color: $percentage-text;

        @include medium-and-up {
          font-weight: 500;
          color: $darkb-blue-text;
          font-size: rem(20);
          line-height: rem(30);
        }

        @include large-and-up {
          padding-top: 48px;
          font-size: rem(22);
          line-height: rem(30);
        }

        @include x-large-and-up {
          font-size: rem(24);
          line-height: rem(31);
          color: $heading;
        }
      }
      p {
        font-family: $roboto;
        color: $blue-text;
        font-size: rem(14);
        opacity: 0.75;
      }
      .blue-button {
        width: 100%;
      }
      .steps-action {
      }

    }

    &:hover {
      .step-number {
        background: $step-number-hover;
      }
    }
  }

  .active {
    .step-info-wrap {
      .step-number {
        background: $percentage-text;
        color: $active;
      }
      .step-info {
        p {
          color: $blue-text;
        }
      }
    }
  }
}

.can-do-steps-mobile {
  margin: 15px 15px 0 0;
  width: 100%;
  .card-header {
    background: $card-header-bg;
    border: none;
    h5 {
      a {
        color: $percentage-text;
        font-weight: 500;
        font-size: rem(15);
        text-decoration: none;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  .card {
    background: none;
    border: none;
    box-shadow: none;
    .card-header {
      padding: 10px 10px 5px 10px;
      margin-bottom: 10px;
    }
    .info-with-image-wrap {
      .accordion-image-wrap {
        float: left;
        width: 50%;
        img {
          width: 100%;
        }
      }
      .mobile-accordion-info {
        width: 43%;
        float: left;
        margin-left: 10px;
        color: $percentage-text;
        font-size: rem(14);
      }
    }
    .card-block {
      padding: 15px 10px 15px;
      border-bottom: solid 1px $card-header-bg;
      margin-bottom: 10px;

      p {
        font-family: $roboto;
        color: $percentage-text;
        font-size: rem(14);
        line-height: rem(22);
      }
    }
    .step-number {
      font-size: rem(18);
      font-weight: 700;
      color: $step-number;
      line-height: 28px;
      padding-right: 5px;
      float: left;
      vertical-align: bottom;
    }
  }
}


.friends-take-action-button {
  width: 100%;
  padding: 20px 0;
  margin: 10px 0;
  .btn-primary {
    display: block;
  }
}

@include small-and-up {
  .hero-img-wrap {
    background-image: url("images/clouds_576.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .page-content-wrap {
    padding-top: 80px;
    .fixed-element {
      h1 {
        font-size: rem(40);
        font-weight: 400;
        line-height: 40px;
      }
    }
    h2 {
      font-size: rem(25);
      font-weight: 500;
      margin-top: 20px;
    }
    .home-page-carousel-wrap {
      .carousel-caption {
        padding: 30px;
        h3 {
          font-size: rem(18);
          line-height: normal;
        }
        p {
          line-height: normal;
          font-size: rem(12);
        }
      }
      .carousel-indicators {
        bottom: 5px;
        li {
          margin: 0 5px;
        }
      }
      .carousel-control-prev,
      .carousel-control-next {
        .carousel-control-prev-icon,
        .carousel-control-next-icon {
          height: 40px;
          width: 40px;
          i {
            margin: 2px 2px 0 0;
          }
        }
      }
    }
  }

  .what-you-can-do-wrapper {
    h3 {
      padding-top: 20px;
    }
    .col-md-6 {
      padding-top: 0;
    }
    .add-action-list-wrap {
      margin: 20px 0 0;
      .btn-primary {
        width: 57%;
        font-size: rem(12);
      }
    }
  }
}

@include medium-and-up {
  .can-do-steps {
    margin-bottom: 50px;
    .step-info-wrap {
      position: relative;
      .steps-action {
        margin-left: 94px;
      }
    }
  }
  .hero-img-wrap {
    background-image: url("images/clouds_768.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .page-content-wrap {
    padding-top: 50px;
    .fixed-element {
      &.sticky {
        width: 100%;
        h1 {
          font-size: rem(25);
        }
      }
    }
  }

  .what-you-can-do-wrapper {
    h3 {
      padding-top: 20px;
    }
    .col-md-6 {
      padding-top: 0;
    }
    .add-action-list-wrap {
      margin: 20px 0 0;
      .btn-primary {
        width: 60%;
      }
    }
    .friends-take-action-button {
      width: 100%;
      padding: 20px 0;
      .btn-primary {
        display: block;
      }
    }
  }
}

@include large-and-up {
  .hero-img-wrap {
    background-image: url("images/clouds_1140.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .page-content-wrap {
    margin-top: -7px;
    .fixed-element {
      &.sticky {
        top: 0;
      }
    }
  }
  .sub-navigation-md {
    width: 100%;
    background: $fixed-nav-bg;
    opacity: 0.8;
    text-align: center;
    padding: 12px 0;
    ul {
      margin: 0;
    }
    li {
      width: 33.33%;
      float: left;
      line-height: 38px;
      &:first-child {
        border-right: solid 2px $border-color;
      }
      a {
        color: $white;
        font-size: rem(18);
        font-weight: 500;
      }
    }
    &.sticky {
      position: fixed;
      top: 0;
      opacity: 0.8;
      z-index: 500;
      transition-duration: .5s;
      background: $top-nav;
    }
  }
  .can-do-steps {
    .step-info-wrap {
      cursor: pointer;
      margin: 35px 0 70px 0;
      .step-number {
        float: none;
        width: 126px;
        height: 126px;
        vertical-align: middle;
        line-height: 128px;
        text-align: center;
        font-size: rem(70);
        background: $step-normal-bg;
        border-radius: 50%;
        color: $active;
        text-transform: uppercase;
        font-weight: 500;
      }
      .step-info {
        p {
          color: $blue-text;
          font-size: rem(14);
          opacity: 0.75;
        }
        .blue-button {
          width: 100%;
        }
        .steps-action {
          margin-left: 0;
        }
      }
    }
    .active {
      .step-info-wrap {
        .step-number {
          background: $percentage-text;
          color: $active;
        }
        .step-info {
          p {
            color: $blue-text;
          }
        }
      }
    }
  }
}

@include x-large-and-up {
  .page-content-wrap {
    padding-top: 200px;
    .about-info {
      margin-bottom: 72px;
    }
  }

  .what-you-can-do-wrapper {
    margin-bottom: 120px;
  }

  .hero-img-wrap {
    background-image: url("images/clouds_1200.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .can-do-steps {
    @include clearfix;
    margin: 35px 0 80px;
    .step-info-wrap {
      .step-number {
        width: 126px;
        height: 126px;
        font-size: rem(70);
      }

      .step-info {
        .steps-action {
          margin-top: 54px;
        }

        p {
          font-size: rem(20);
          line-height: rem(30);
        }
      }
    }

  }
}
