.post-content {
  p {
    line-height: 1.8;
    margin: 15px 0;

    @include small-and-up {
      font-size: rem(19);
    }

    @include medium-and-up {
      font-size: rem(20);
      margin: 25px 0;
    }

    @include large-and-up {
      margin: 30px 0;
    }
  }

  .more-link {
    @extend .btn;

  }

  div.entry-summary {
      @extend .white-text;
  }


  dt {
    float: left;
    width: 20%;
    text-align: right;
    padding: .25em;
    clear: left;
  }
  dd {
    float: left;
    width: 80%;
    padding: .25em 0;
  }
  dl:after {
    content: "";
    display: table;
    clear: both;
  }

  blockquote {
    background-color: $white;
    color: $grey-60;
    font-style: italic;
    padding: 30px;

    p {
      margin: 0;
    }
  }

  blockquote cite {
    display: block;
    margin-top: 15px;
  }


  table {

    th, td {
      border: 1px solid $green-80;
      padding: 6px;
    }

    th {
      background-color: $grey-40;
      color: $white;
    }

    tr.odd {
      background-color: $white;
    }

    tr.even {
      background-color: $grey-20;
    }

  }
}

.post-content-lead {
  p:first-of-type {
    color: $white;
    margin-top: 0;
  }
}

.post-image {
  .credit-wrapper{
    position: relative;
    display: inline-block;
    width: auto;
  }

  @include medium-and-up {
    .image-credit {
      position: absolute;
      text-align: right;
      right: 10px;
      width: 100%;
      color: $white;
      z-index: 2;
    }
  }

  .image-desc {
    display: block;
  }
}
