.comment-form {
	display: block;
	padding-bottom: 60px;
	margin-bottom: 40px;
	border-bottom: 1px solid $grey-40;

	fieldset {
		margin-bottom: 32px;

		@include small-and-up {
			margin-bottom: 32px;
		}
	}

	label,
	input,
	textarea,
	button {
		appearance: none;
	}

	input,
	textarea {
		font-size: rem(20);
		font-weight: 300;
		border-radius: 0;
		border: none;
		transition: background-color 150ms linear;

		&:focus {
			background-color: transparentize($white, .6);
		}
	}

	label {
		font-size: rem(17);
		font-weight: 500;
	}

	textarea {
		background-color: $grey-10;
		padding: 13px;
		margin-bottom: 40px;

		@include small-and-up {
			margin-bottom: 56px;
		}

		@include medium-and-up {
			margin-bottom: 40px;
		}
	}

	input {
		border-bottom: 1px solid $black;
		background-color: transparent;
		padding: 7px 5px 5px;
		width: 100%;

		&:focus {
			border-bottom-color: $grey-60;
		}

		@include medium-and-up {
			width: 50%;
		}

		@include medium-and-up {
			width: 80%;
		}
	}

	button {
		width: 100%;
		height: 52px;
		margin-top: 60px;
		line-height: 52px;
		font-weight: bold;

		@include medium-and-up {
			width: 50%;
		}

		@include large-and-up {
			width: 25%;
		}
	}

	::-webkit-input-placeholder,
	::-moz-placeholder,
	:-ms-input-placeholder,
	:-moz-placeholder {
		color: $grey-40;
	}
}

.comment-form-title {
	font-size: rem(22);
	font-weight: 500;
	font-family: $roboto;
	margin-bottom: 40px;

	@include medium-and-up {
		margin-bottom: 56px;
	}

	@include large-and-up {
		margin-bottom: 40px;
	}
}
