.comments-block {
  margin-top: 50px;
  padding: 40px 15px;
  border-top: 1px solid #092856;
  background: #E3E3E3;

  h2 {
    font-size: rem(32);
    margin-bottom: 40px;

    @include x-large-and-up {
      margin-bottom: 56px;
    }
  }

  @include small-and-up {
    padding: 60px 48px;
  }

  @include large-and-up {
    margin-top: 64px;
  }
}

.single-comment {
  margin-bottom: 64px;
}

.single-comment-title {
  font-size: rem(22);
  margin-bottom: 40px;
  font-weight: bold;
  color: #3C3C3B;
}

.single-comment-text {
  font-size: rem(18);
  font-family: $roboto;
  margin-bottom: 40px;
  color: #706F6F;
}

.single-comment-meta {
  font-size: rem(18);
  font-weight: 500;
  color: $black;
  text-decoration: none;

  &:first-child:after {
    content: '/';
    padding-left: 5px;
  }
}
