.single-post {
  .skewed-overlay {
    &:before {
      @include skewed-gradient(
        transparent,
        transparentize($dark-blue, .1),
        transparentize($dark-blue, .1),
        transparentize($dark-blue, .8),
        transparentize($dark-blue, .6)
      );
    }

    mask-image: linear-gradient(
      170deg,
      rgba(0,0,0,1),
      rgba(0,0,0,.2),
      rgba(0,0,0,0),
      rgba(0,0,0,0),
      rgba(0,0,0,0)
    );
    mask-size: 100%;
    mask-repeat: no-repeat;
    mask-position: left top;
  }

  h1 {
    hyphens: none;
    line-height: 1.2;
  }
}

.single-post-meta {
  color: $grey-20;
  margin: 30px 0 0;
  font-size: rem(14);

  a {
    color: inherit;
  }

  @include small-and-up {
    font-size: rem(16);
  }

  @include medium-and-up {
    font-size: rem(18);
  }

  @include large-and-up {
    font-size: rem(20);
  }
}

.single-post-author,
.single-post-time {
  font-style: italic;
  display: inline-block;
  margin: 0;
}

.single-post-author {
  margin-right: 20px;
  position: relative;

  &:after {
    content: "\2022";
    pointer-events: none;
    display: inline-block;
    position: absolute;
    right: -15px;
  }
}
