// Include the buttons
@import "partials/variables";
@import "partials/typography";
@import "partials/custom";
@import "partials/mixins";
@import "partials/font-icon";
@import "modules/buttons";

// Customising bootstrap variables

/* This should change later to include just 
 * the components that are needed.
 */
// @import "../../node_modules/bootstrap/scss/bootstrap.scss";
// @import "../../node_modules/font-awesome/scss/font-awesome";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

// Import Blocks
@import "common/navbar";
@import "common/footer";
@import "common/header";
@import "common/tasks";
@import "common/happy-point-block";
@import "common/static-four-column";
@import "common/content-two-column";
@import "common/split-box-out";
@import "common/article";
@import "common/header";
@import "common/carousel";
@import "common/subheader";
@import "common/covers";
@import "common/block-media";
@import "common/tag-cloud";
@import "common/content-four-column";
@import "common/split-two-column";
@import "common/split-carousel";
@import "common/carousel-header";
@import "common/video-block";
@import "common/campaign-thumbnail-block";
@import "common/content-three-column";
@import "common/comments-block";
@import "common/author-block";
@import "common/post-block";
@import "common/boxout-block";


// Import pages and common responsiveness
@import "pages/take-action"; // TODO: Break this down into blocks
@import "pages/responsive";

/* 
 *
 * CSS Coding guidelines to be followed : https://make.wordpress.org/core/handbook/best-practices/coding-standards/css/
 * JS Coding guidelines to be followed : https://make.wordpress.org/core/handbook/best-practices/coding-standards/javascript/
 * 
*/

body {
  background: $body-bg;
  font-family: $roboto;
  &.brown-bg {
    background: $brown-bg;
  }
  // /* Gradient */
  // TODO: Gradient would come at a later phase
  // background: #ebf1f6;
  // background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZWJmMWY2IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjYWJkM2VlIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTElIiBzdG9wLWNvbG9yPSIjODljM2ViIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Q1ZWJmYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  // background: -moz-linear-gradient(45deg, #ebf1f6 0%, #abd3ee 50%, #89c3eb 51%, #d5ebfb 100%);
  // background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#ebf1f6), color-stop(50%,#abd3ee), color-stop(51%,#89c3eb), color-stop(100%,#d5ebfb));
  // background: -webkit-linear-gradient(45deg, #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%);
  // background: -o-linear-gradient(45deg, #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%);
  // background: -ms-linear-gradient(45deg, #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%);
  // background: linear-gradient(45deg, #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%);
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf1f6', endColorstr='#d5ebfb',GradientType=1 );
}