// Include the buttons
@import "partials/variables";
@import "partials/functions";
@import "partials/mixins";
@import "partials/typography";
@import "partials/custom";
@import "partials/font-icon";
@import "modules/buttons";

// Customising bootstrap variables

/* This should change later to include just 
 * the components that are needed.
 */
// @import "../../node_modules/bootstrap/scss/bootstrap.scss";
// @import "../../node_modules/font-awesome/scss/font-awesome";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

// Import Blocks
@import "common/navbar";
@import "common/footer";
@import "common/tasks";
@import "common/happy-point-block";
@import "common/static-four-column";
@import "common/content-two-column";
@import "common/split-box-out";
@import "common/article-listing";
@import "common/page-header";
@import "common/page-section";
@import "common/carousel";
@import "common/covers";
@import "common/block-media";
@import "common/tag-cloud";
@import "common/content-four-column";
@import "common/split-two-column";
@import "common/split-carousel";
@import "common/carousel-header";
@import "common/video-block";
@import "common/campaign-thumbnail-block";
@import "common/content-three-column";
@import "common/search-block";
@import "common/cookie-block";
@import "common/campaign-covers-4col-wrap";
@import "common/skewed-overlay";
@import "common/tags-list";

/**
 * Page-specific styles
 */

// Single post.
@import "pages/post/post";
@import "pages/post/article-content";
@import "pages/post/author-block";
@import "pages/post/comments-block";
@import "pages/post/comments-form";

// Take Action page.
@import "pages/take-action"; // TODO: Break this down into blocks

// Explore page.
@import "pages/explore";

// Issues pages.
@import "pages/issue";

// Search page.
@import "pages/search/filter-modal";
@import "pages/search/filter-sidebar";
@import "pages/search/filtered-tags";
@import "pages/search/search-bar";
@import "pages/search/search-results";
@import "pages/search/suggested-terms";

/**
 * Third-party CSS
 */
@import "external/happy-point-form";

/* 
 *
 * CSS Coding guidelines to be followed : https://make.wordpress.org/core/handbook/best-practices/coding-standards/css/
 * JS Coding guidelines to be followed : https://make.wordpress.org/core/handbook/best-practices/coding-standards/javascript/
 * 
*/

body {
  overflow-x: hidden;
  font-family: $roboto;
  position: relative;
  
  &.white-bg {
    background-color: $white;
  }

  &.brown-bg {
    background: $brown-bg;
  }

  &.home-page-bg {
    background-image: repeating-linear-gradient(-61deg, rgba(212, 236, 244, 0) 0%, rgba(197, 223, 239, 0.69) 950px, rgba(188, 215, 236, 1) 952px);
  }
}

.container > * {
  position: relative;
  z-index: 2;
}